@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap&subset=cyrillic');


@font-face {
  font-family: 'Circe';
  src: url('../fonts/circe/Circe-Regular.eot');
  src: local('Circe'), local('Circe-Regular'),
  url('../fonts/circe/Circe-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/circe/Circe-Regular.woff') format('woff'),
  url('../fonts/circe/Circe-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/circe/Circe-ExtraLight.eot');
  src: local('Circe ExtraLight'), local('Circe-ExtraLight'),
  url('../fonts/circe/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/circe/Circe-ExtraLight.woff') format('woff'),
  url('../fonts/circe/Circe-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/circe/Circe-Thin.eot');
  src: local('Circe Thin'), local('Circe-Thin'),
  url('../fonts/circe/Circe-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/circe/Circe-Thin.woff') format('woff'),
  url('../fonts/circe/Circe-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/circe/Circe-Light.eot');
  src: local('Circe Light'), local('Circe-Light'),
  url('../fonts/circe/Circe-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/circe/Circe-Light.woff') format('woff'),
  url('../fonts/circe/Circe-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/circe/Circe-Bold.eot');
  src: local('Circe Bold'), local('Circe-Bold'),
  url('../fonts/circe/Circe-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/circe/Circe-Bold.woff') format('woff'),
  url('../fonts/circe/Circe-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/circe/Circe-ExtraBold.eot');
  src: local('Circe ExtraBold'), local('Circe-ExtraBold'),
  url('../fonts/circe/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/circe/Circe-ExtraBold.woff') format('woff'),
  url('../fonts/circe/Circe-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
