// form--login
+b('form', 'login.animLabels', 'form')(action="https://redkollegia.org/wp-json/api/auth" method="post")

  //-
    +e('item', '', 'label')
      span.wpcf7-form-control-wrap.url-text
        +e('input', '', 'input')(type="text" name="link")
        span.wpcf7-not-valid-tip Поле обязательно.
      +e('label') Ссылка на публикацию

  +e('item', '', 'label')
    +e('input', '', 'input')(type="text" name="log")
    +e('label') Логин

  +e('item', '', 'label')
    +e('input', '', 'input')(type="password" name="psw")
    +e('label') Пароль

  +e('item')
    +e('submit', '', 'button')(type="submit") Отправить

  +e('policy') <a href="#0">Забыли пароль</a>

