// form--propose
+b('form', 'propose.animLabels', 'form')(class="invalid")

  +e('item', '', 'label')
    span.wpcf7-form-control-wrap.url-text
      +e('input', '', 'input')(type="text" name="link")
      span.wpcf7-not-valid-tip Поле обязательно.
    +e('label') Ссылка на публикацию

  +e('row')
    +e('item', '2col', 'label')
      +e('input', '', 'input')(type="text" name="author")
      +e('label') Автор публикации
    +e('item', '2col', 'label')
      +e('input', '', 'input')(type="text" name="pubdate")
      +e('label') Дата публикации

  +e('item', '', 'label')
    +e('input', '', 'input')(type="email" name="email")
    +e('label') Ваш email

  +e('item')
    +e('submit', '', 'button')(type="submit") Отправить

  +e('policy') Нажимая “Отправить” вы соглашаетесь с <a href="#0" target="_blank">политикой конфиденциальности</a>

  div.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors Одно или несколько полей содержат ошибочные данные. Пожалуйста проверьте их и попробуйте ещё раз.
