@keyframes laureates-name {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes animInToLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animOutToLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes animInToRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animOutToRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}


@keyframes animModal {
  0% {
    stroke-dashoffset: 1680;
  }
  100% {
    stroke-dashoffset: 0;
  }
}


@keyframes formLabelIn {
  0% {
    top: 50%;
    opacity: 1;
    font-size: var(--font-size-normal);
  }
  50% {
    top: 120%;
    opacity: 1;
    font-size: var(--font-size-normal);
  }
  51% {
    top: 120%;
    opacity: 0;
    font-size: var(--font-size-normal);
  }
  52% {
    top: -10%;
    opacity: 0;
    font-size: var(--font-size-normal);
  }
  53% {
    top: -10%;
    opacity: 1;
    font-size: var(--font-size-normal);
  }
  75% {
    top: -15px;
    opacity: 1;
    font-size: var(--font-size-focused);
  }
  100% {
    top: 15px;
    opacity: 1;
    font-size: var(--font-size-focused);
  }
}

@keyframes formLabelOut {
  0% {
    top: 50%;
    opacity: 1;
    font-size: var(--font-size-normal);
  }
  50% {
    top: 120%;
    opacity: 1;
    font-size: var(--font-size-normal);
  }
  51% {
    top: 120%;
    opacity: 0;
    font-size: var(--font-size-normal);
  }
  52% {
    top: -10%;
    opacity: 0;
    font-size: var(--font-size-normal);
  }
  53% {
    top: -10%;
    opacity: 1;
    font-size: var(--font-size-normal);
  }
  75% {
    top: -15px;
    opacity: 1;
    font-size: var(--font-size-focused);
  }
  100% {
    top: 15px;
    opacity: 1;
    font-size: var(--font-size-focused);
  }
}


@keyframes applicantsPreview {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}
