@lost flexbox flex;

//$mb-resp: 2.463328vw;

$md: 1170px;

$msd: 1650px;
$msd-2: 1440px;
$msd-3: 1200px;
$mtl: 960px;
$mtp: 768px;
$msl: 480px;
$msp: 320px;


$font-text: 'Playfair Display', serif;
$font-title: 'Playfair Display', serif;
$font-sans: 'Circe', sans-serif;
$font-menu: $font-text;


$color-style: #c20000;
$color-border: #ababab;
$color-bg: #fafafa;

$color-text: #000;
$color-text-light: #999aa8;
$color-text-light-2: #9497a1;
$color-text-footer: #99a5b1;
$color-text-input: #3f3356;
$color-text-style: #6979F8;
$color-text-err: #daa8a8;
$color-error: #d94141;
$color-placeholder: #d0c9d6;
$color-title: #000;

$color-link: $color-style;
$color-button: $color-style;
$color-button-empty: $color-style;

$color-header-border: #3d3f51;


$shadow: 0px 14px 20px rgba(0, 0, 0, 0.1);
$shadow-modal:  0px 54px 44px rgba(0, 0, 0, 0.1);
$shadow-team: 0px 14px 20px rgba(0, 0, 0, 0.1);
$shadow-button: 0 13px 20px rgba(118, 133, 196, 0.41);
$shadow-filter: 0px 24px 44px rgba(0, 0, 0, 0.13);

$icon-dd: url("data:image/svg+xml,%3Csvg width='14' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.367 0L7 4.973 1.633 0 0 1.514 7 8l7-6.486L12.367 0z' fill='%23B70101'/%3E%3C/svg%3E");
