.login {
  h1 {
    display: none;
  }

  #login {
    @extend .modal__content;
    width: 320px;
    padding: 40px 40px 35px;
    margin-top: 100px;
    margin-bottom: 70px;
  }

  form {
    margin: 0;
    padding: 0;
    box-shadow: none;
    overflow: visible;
  }

  .input {
    //@extend .form__field;

    padding: 14px 16px !important;
    font-size: 16px !important;
    border-radius: 6px;
    box-shadow: $shadow !important;
    border: 1px solid rgba(#000, 0.03);

    &::placeholder {
      color: #d0c9d6;
    }
  }

  .input[type="checkbox"] {

  }

  .forgetmenot {
    float: none !important;
  }

  .button {
    //@extend .button;
    float: none !important;
    padding: .83em 1.7em !important;
    height: auto !important;
    line-height: 1 !important;
    box-shadow: none !important;
    background-color: #6979f8 !important;
    text-shadow: none !important;
    margin-top: 40px;

    &:hover {
      background-color: #6979f8 !important;
    }
  }

  #nav {
    margin-top: 12px;
    text-align: center;
    font-weight: 400;

    a {
      color: #000;

      &:hover {
        color: $color-button-empty !important;
      }

    }

  }

  #backtoblog {
    text-align: center;
  }
}
