// base-page
+b('basePage', { b: 'block', m: 'sidebar' }, 'section')
  +e('aside')
    include interview--aside@old
  +e('inner', { e: 'block' })
    +e('type') Интервью#{' '}
      +e('inlinedate', '', 'time')(datetime="2019-06-30") 30 июня 2019
    +e('pageTitle', { e: 'block' }, 'h1') «Хачатурян. Танцы с пистолетом»
    +e('readmore', '', 'a')(href="#0" target="_blank") Читать далее

    +e('body', { e: 'block' })
      p Работа над материалом о трагедии в семье Хачатурян шла 4 месяца. Конечно же, параллельно приходилось работать и над другими темами Сложнее всего дались интервью с близкими и друзьями семьи. При этом сложность была скорее технического характера. Многие близкие и родственники сестер Хачатурян  подписали к тому моменту контракты с ТВ, предполагающие запрет на интервью с другими СМИ.

      p При этом люди чаще всего не были против общения с прессой. Более того, мама и подруги сестер, напротив, видели в общении со СМИ возможность повлиять в лучшую сторону на судьбу девочекКак бы там ни было, но многие пишущие СМИ обошли историю стороной, не став разбираться в подробностях трагедии. То ли их отпугивала некая на первый взгляд бульварность темы, и необходимость разбирать грязное белье, то ли тот факт, что история активно освещается на ТВ. И ничего нового, казалось бы, уже не прибавить.

      p Действительно, с самого начала к делу было приковано большое внимание федеральных каналов. С одной стороны, по моему мнению, это обеспечивало делу внимание общественности и соответственно повышало шансы на справедливое расследование. С другой стороны – поведение телевизионщиков в деле сестер Хачатурян иначе как хищническим не назвать. Со своими контрактами каналы буквально раздирали семью на части. Маму девочек всю дорогу сопровождали продюсеры Первого канала, отбивая других журналистов. За бабушкой ходили люди с ВГТРК. Большое спасибо, кстати, адвокатам и в частности Алексею Липцеру, который помог организовать  интервью с героями публикации.

      p Телевидение смаковало в этой драме каждую деталь, но так и не решилось назвать главную причину случившегося. А состоит она в тотальном повсеместном равнодушии и безразличии, как общества, так и государственных институтов, которые оказались просто неспособны защитить жертв насилияУжасы в семье Хачатурян творились десятилетиями на глазах десятков людей, начиная с членов семьи, заканчивая полицией, прокуратурой, соседями и педагогами.  И никто не решился остановить беспредел деспотичного отца-насильника.

      p Причем беспредел этот творился не где-то в глуши, а в довольно благополучном московском спальном районе. Для меня самого эта тема была во многом профессиональным вызовом. Уже 4 года я пишу в газету на украинскую тему, про войну и сюжеты с ней связанные. Вызов был в том, могу ли я написать что-то не про Украину? Смогу ли я написать хорошо, профессионально? И могут ли во мне родиться другие эмоции после того, что я видел на войне?

      p В общем, мне было важно вырваться из привычного круга тем. Как получилось – судить вамА я хочу только добавить, что очень рад, что такая уважаемая и значимая в новейшей России журналистская премия как Редколлегия оценила мою работу. Мне очень радостно и приятно. Теперь буду спать чуть более спокойноЧто еще? Пожелание начинающим коллегам! Хочу пожелать постоянно быть в тонусе и не задерживаться в зоне комфорта.

      p Спасибо!
    include ../comments
