-
  const timeline1 = [
  {
  date: '2019 – н.В.',
  title: 'Rambler&Co',
  body: '<p>Внештатный корреспондентнаписание сюжетов новостного формата, выезд на съемки, запись синхронов, проведение опросов на улице, помощь в создании сюжетов для других корреспондентов, помощь в осуществлении прямых включений\n'+
  'и т.д.</p>',
  },
  {
  date: '2018 – 2019',
  title: 'Телеканал Россия, ГТК',
  body: '<p>Факультет Политики и Социологии (Law, Politics and Sociology), Социология и Медия (Sociology and Media Studies)</p>',
  },
  {
  date: '2017 – 2018',
  title: 'Университет Сассекса (University of Sussex)',
  body: '<p>Факультет Политики и Социологии (Law, Politics and Sociology), Социология и Медия (Sociology and Media Studies)</p>',
  },
  {
  date: '2017 – 2017',
  title: 'Телеканал Россия, ГТК',
  body: '<p>Факультет Политики и Социологии (Law, Politics and Sociology), Социология и Медия (Sociology and Media Studies)</p>',
  },
  {
  date: '2016 – 2017',
  title: 'Университет Сассекса (University of Sussex)',
  body: '<p>Факультет Политики и Социологии (Law, Politics and Sociology), Социология и Медия (Sociology and Media Studies)</p>',
  },
  ];

  const timeline2 = [
  {
  date: '2013 – 2016',
  title: 'Удмуртский государственный университет, Ижевск',
  body: '<p>Факультет Профессионального Иностранного Языка, Перевод и переводоведение (1 курс)</p>',
  },
  {
  date: '2009 – 2013',
  title: 'Университет Сассекса (University of Sussex)',
  body: '<p>Факультет Политики и Социологии (Law, Politics and Sociology), Социология и Медия (Sociology and Media Studies)</p>',
  },
  ];

  const interviews = [
  {
    date: 'Сентябрь 2018',
    title: '«Все мое дело — это эмоциональная реакция какого-то эфэсбешника». Интервью журналистки Светланы Прокопьевой....',
  },
  {
    date: 'Август 2017',
    title: 'Депутаты-прогульщики: как работают в Облдуме в цифрах',
  },
  {
    date: 'Май 2017',
    title: '«Все мое дело — это эмоциональная реакция какого-то эфэсбешника». Интервью журналистки Светланы Прокопьевой....',
  },
  {
    date: 'Январь 2016',
    title: 'Депутаты-прогульщики: как работают в Облдуме в цифрах',
  },
  ];

// base-page
+b('basePage', { b: 'block', m: 'sidebar.laureate' }, 'section')
  +e('aside')
    include interview--aside@old
  +e('inner', { e: 'block' })

    //-  +e('type') Интервью#{' '}
        +e('inlinedate', '', 'time')(datetime="2019-06-30") 30 июня 2019
    +e('pageTitle', { e: 'block' }, 'h1')(class="visually-hidden") Лауреат Павел Каныгин
      //- +e('readmore', '', 'a')(href="#0" target="_blank") Читать далее

    +e('body', { e: 'block' })
      h2 Биография
      p Мы в «Бумаге» давно следим за проблемами, связанными с российским наркозаконодательством. Писали и про рекламу наркотиков на улицах, и про исследования об изъятии запрещенных веществ, и про то, как подростки становятся наркоторговцами и как их потом за это судят.В связи с делом Голунова хотелось не только выразить журналистскую солидарность (мы выпустили заявление от редакции), но и рассказать о системе подбрасывания наркотиков в России — так как это действительно касалось и касается каждого. Тогда я увидел, что адвокат Виталий Черкасов рассказал в фейсбуке про своего бывшего подзащитного Евгения Романова. Как говорил Черкасов, Романова — молодого человека с шизофренией — доставили в отдел полиции в беспомощном состоянии, позже «обнаружили» у него наркотики. Впоследствии он умер в СИЗО.
      p Мы начали разбираться, параллельно очень быстро нашли несколько похожих случаев и решили на их примере показать, как люди пытаются доказать свою невиновность в наркопреступлениях.

    +e('section', '', 'section')
      +e('sectionTitle', '', 'h2') Работа
      +timeline(timeline1)

    +e('section', '', 'section')
      +e('sectionTitle', '', 'h2') Образование
      +timeline(timeline2)

    +e('section', '', 'section')
      +e('sectionTitle', '', 'h2') Интервью
      +interview-cards(interviews)

