// dropdown-1.pug
+b('dropdown')
  +e('title') Работы получившие премию
  +e('items', '', 'ul')
    for i, index in Array(4)
      +e('item')
        if index === 0
          - var mod = 'active'
        +e('link', {m: mod}, 'a')(href="#0") Лауреат сентябрь 2017
