// dropdown.pug
+b('dropdown')
  +e('title') Номинированные работы
  +e('items', '', 'ul')
    for i in Array(4)
      +e('item')
        +e('link', '', 'a')(href="#0") «Хачатурян. Танцы с пистолетом»
        +e('source') Новая газета
