// interview--aside.pug
+b('interviewAside')
  +e('slider')
    +e('slides', '', 'ul')
      +e('slide')(data-name="Дарья Бурлакова")
        +e('image', '' , 'div')
          +e('socials')
            +e('social', '', 'a')
            span.visually-hidden ВКонтакте
            // images/socials/vk.svg
            include ../../../images/socials/vk.svg
          img(src="./files/pavel.jpg" alt="")
      +e('slide')(data-name="Дарья Бурлакова")
        +e('image', '' , 'div')
          +e('socials')
            +e('social', '', 'a')
            span.visually-hidden Facebook
            // images/socials/fb.svg
            include ../../../images/socials/fb.svg
          img(src="./files/pavel.jpg" alt="")
      +e('slide')(data-name="Саша Сулим")
        +e('image', '' , 'div')
          +e('socials')
            +e('social', '', 'a')
            span.visually-hidden Twitter
            // images/socials/twitter.svg
            include ../../../images/socials/twitter.svg
          img(src="./files/pavel.jpg" alt="")
    +e('dots')
      +e('dot', '', 'button')
      +e('dot', '', 'button')
      +e('dot', '', 'button')
  +e('name') Павел Каныгин
  +e('works')
    include dropdown-1
  +e('works')
    include dropdown
