// interview--aside@old.pug
+b('interviewAside')
  +e('slider')
    +e('slides', '', 'ul')
      +e('slide')
        +e('image', '' , 'div')
          +e('socials')
            +e('social', '', 'a')(href="#0")
              span.visually-hidden ВКонтакте
              // images/socials/vk.svg
              include ../../../images/socials/vk.svg
            +e('social', '', 'a')(href="#0")
              span.visually-hidden Facebook
              // images/socials/fb.svg
              include ../../../images/socials/fb.svg
            +e('social', '', 'a')(href="#0")
              span.visually-hidden Twitter
              // images/socials/twitter.svg
              include ../../../images/socials/twitter.svg
          img(src="./files/pavel.jpg" alt="")
        +e('nameMob') Дарья Бурлакова
      +e('slide')
        +e('image', '' , 'div')
          img(src="./files/pavel.jpg" alt="")
        +e('nameMob') Павел Каныгин
      +e('slide')
        +e('image', '' , 'div')
          img(src="./files/pavel.jpg" alt="")
        +e('nameMob') Саша Сулим
    +e('dots')
      +e('dot', '', 'button')
      +e('dot', '', 'button')
      +e('dot', '', 'button')
  +e('content')
    +e('cntItem')(class="-active")
      +e('name') Павел Каныгин
      +e('works')
        include dropdown-1
      +e('works')
        include dropdown
    +e('cntItem')
      +e('name') Дарья Бурлакова
      +e('works')
        include dropdown-1
      +e('works')
        include dropdown
    +e('cntItem')
      +e('name') Саша Сулим
      +e('works')
        include dropdown-1
      +e('works')
        include dropdown
