-
  var items = [];

// about-aside
+b('aboutAside', 'reverse')
  +e('title', '', 'h2') Эксперты
  +e('items', '', 'ul')
    for i in Array(3)
      +e('item')
        +e('img', '', 'div'): img(src="./files/person.png" alt="")
        +e('main', '', 'div')
          +e('socials', '', 'div')
            include fold-socials
          +e('content', '', 'div')
            +e('name', '', 'div'): span Эльмар Муртазаев
            +e('body', '', 'div') Журналист, редактор. Генеральный продюсер проекта «Русские норм», научный редактор журнала Forbes Latvia. Ранее главный редактор Forbes в России, управляющий директор РБК ТВ
