-
  var items = [];

// about-aside
+b('aboutAside')
  +e('title', '', 'h2') Жюри
  +e('items', '', 'ul')
    for i in Array(3)
      +e('item')
        //+e('img', '', 'div'): img(src="./files/about-person.png" alt="")
        +e('img', '', 'div'): img(src="http://new.redkollegia.org/wp-content/cache/thumb/c4/061704a508ebac4_175x200.png" alt="")
        +e('main', '', 'div')
          +e('socials', '', 'div')
            include fold-socials
          +e('content', '', 'div')
            +e('name', '', 'div') Эльмар Муртазаев
            +e('body', '', 'div') Журналист, редактор. Генеральный продюсер проекта «Русские норм», научный редактор журнала Forbes Latvia. Ранее главный редактор Forbes в России, управляющий директор РБК ТВ
