// applicants-preview.pug
+b('applicantsPreview')
  +e('header')
    +e('top')
      +e('date', '', 'time')(datetime="2018-05-19") 18.05.19
      +e('source') meduza
    +e('title', '', 'h3'): a(href="#0") «Когда пойдем убирать косточки?»
  +e('body') «Объявляется субботник по сбору человеческих останков на берегу реки Камы в Крюково-1. Начало в 10 час. При себе иметь перчатки, мешки». Пост с фотографией этого объявления появился в мае на
  +e('footer')
    +b('button', { e: '&' }, 'a')(href="#0"): span Читать материал
  +e('close', '', 'button'): span.visually-hidden Закрыть
