-
  var applicantsNumber = applicantsNumber || 8;

// applicants
+b('applicants')
  +e('items')
    for i, index in Array(applicantsNumber)
      +e('item')
        +e('card', '', 'a')(href="#0" target="_blank" data-body="«Объявляется субботник по сбору человеческих останков на берегу реки Камы в Крюково-1. Начало в 10 час. При себе иметь перчатки, мешки». Пост с фотографией этого объявления появился в мае на")
          +e('image', '', 'div'): img(src="./files/article-02.jpg" alt="")

          +e('info', '', 'div')
            +e('date', '', 'time')(datetime="2019-05-28") 28.05.2019
            +e('source') The Bell
            +e('tags')
              +e('tag') видео
            if index === 1
              +e('label') Лауреат
          +e('title', '', 'h3') «Обходными путями: как безопасник Дерипаски помог ему увести часть бизнеса из-под санкций»
          +e('author', '', 'div') Ирина Панкратова

