-
  var applicantsNumber = applicantsNumber || 8;

// applicants
+b('applicants')
  +e('items')
    +b('monthSeparation')
      +e('date')
        +e('month') Апрель
        +e('year') 2019
    for i, index in Array(applicantsNumber)
      +e('item')
        +e('card', '', 'a')(href="#0")
          +e('image', '', 'div'): img(src="./files/article-02.jpg" alt="")

          +e('info', '', 'div')
            +e('date', '', 'time')(datetime="2019-05-28") 28.05.2019
            +e('source') The Bell
            +e('tags')
              +e('tag') видео
            if index === 1
              +e('label') Лауреат
          +e('title', '', 'h3') «Обходными путями: как безопасник Дерипаски помог ему увести часть бизнеса из-под санкций»
          +e('author', '', 'div') Ирина Панкратова

    +b('monthSeparation')
      +e('date')
        +e('month') Апрель
        +e('year') 2019
    for i in Array(applicantsNumber)
      +e('item')
        +e('card', '', 'a')(href="#0")
          +e('image', '', 'div'): img(src="./files/article-02.jpg" alt="")
          +e('info', '', 'div')
            +e('date', '', 'time')(datetime="2019-05-28") 28.05.2019
            +e('source') The Bell
            +e('tags')
              +e('tag') видео
          +e('title', '', 'h3') «Обходными путями: как безопасник Дерипаски помог ему увести часть бизнеса из-под санкций»
          +e('author', '', 'div') Ирина Панкратова

