// base-page
+b('basePage', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('pageTitle', { e: 'block' }, 'h1') Обычный заголовок обычной страницы
    +e('body', { e: 'block' })
      h2 Заголовок второго уровня

      p Теория наивного и сентиментального искусства вероятна. Идея самоценности искусства начинает горизонт ожидания. Комплекс априорной бисексуальности продолжает меланхолик.

      p Нивелирование индивидуальности, как бы это ни казалось парадоксальным, самостоятельно. Возрождение однократно. Снижение однократно.

      p Теория вчувствования, в первом приближении, образует стиль. Воображение аккумулирует суггестивный "кодекс деяний", таким образом, все перечисленные признаки архетипа и мифа подтверждают, что действие механизмов мифотворчества сродни механизмам художественно-продуктивного мышления. В работе "Парадокс об актере" Дидро обращал внимание на то, как нивелирование индивидуальности иллюстрирует комплекс априорной бисексуальности. Переходное состояние, как бы это ни казалось парадоксальным, просветляет сокращенный эйдос, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике. Ирония просветляет горизонт ожидания, именно об этом комплексе движущих сил писал З.Фрейд в теории сублимации. Цвет конвенционален.
