-
  var month = [
    'Январь',
    'Февраль',
    'Март',
    'Апрель',
    'Май',
    'Июнь',
    'Июль',
    'Август',
    'Сентябрь',
    'Октябрь',
    'Ноябрь',
    'Декабрь',
  ];
  var m1 = [
  'Январь',
  'Февраль',
  'Март'
  ];
  var m2 = [
  'Апрель',
  'Май',
  'Июнь',
  ];
  var m3 = [
  'Июль',
  'Август',
  'Сентябрь',
  ];
  var m4 = [
  'Октябрь',
  'Ноябрь',
  'Декабрь',
  ];

// calender.pug
+b('calender')
  +e('cnt')
    +e('list')
      for i, index in month
        +e('month', '', 'a')(href="#0") !{i}
    +e('all', '', 'a')(href="#0") Все за год
  +e('pager')
    +e('arrow', 'prev', 'button')
    +e('currentY', '', 'span') 2019
    +e('arrow', 'next', 'button')
