// comment--create
+b('comment', 'create', 'div')
  +e('image', '', 'div'): img(src="./images/user.svg" alt="")
  +e('main', '', 'div')
    +e('header')
      +e('name') Иван Ургант
    +e('form', '', 'form')
      +e('msg', '', 'textarea')(name="message" placeholder="Ваш комментарий")
      +e('actions')
        +e('button', '', 'button')(type="submit") Отправить
