// comments
+b('comments')
  +e('title', '', 'h2') Комментарии
  +e('items', '', 'ul')
    +e('item')
      include comment
      +e('items', '', 'ul')
        for i in Array(2)
          +e('item'): include comment
    +e('item')
      include comment
    +e('item')
      include comment
    +e('item', 'create')(id="create")
      include comment--create

