// comment
+b('comment', '', 'div')
  +e('image', '', 'div'): img(src="./images/user.svg" alt="")
  +e('main', '', 'div')
    +e('header')
      +e('name') Иван Ургант
      +e('answered') Ответил Ивану Урганту
    +e('body') милые и хорошие дети выросли, не гении, но свободы и легкости больше, пока. С одной стороны, они синхронны современности со всеми вытекающими. С другой, есть ли уверенность, что они могут защищать эту  пусть иллюзорную, но свободу?
    +e('footer')
      +e('date', '', 'time')(datetime="2019-05-20T14:57") сегодня в 14:57
      +e('reply', '', 'a')(href="#create") Ответить
