-
  var eventsNum = eventsNum || 8;

// events
+b('events')
  +e('items')
    for i, index in Array(eventsNum)
      +e('item')
        +e('card', '', 'a')(href="#0" target="_blank" data-body="«Объявляется субботник по сбору человеческих останков на берегу реки Камы в Крюково-1. Начало в 10 час. При себе иметь перчатки, мешки». Пост с фотографией этого объявления появился в мае на")
          +e('image', '', 'div'): img(src="./files/article-02.jpg" alt="")
          +e('date', '', 'time')(datetime="2019-05-28") 28.05.2019
          +e('title', '', 'h3') Пресс-конференция "Я/Мы Абдулмумин Гаджиев. Преследование журналиста как способ закрыть газету?"

