// filter
+b('filter')
  +e('sort')
    +e('sortCurrent', '', 'button') Сортировать
    +e('sortList')
      +e('sortButton', 'active', 'a')(href="#0")
        +e('sortInfo') по дате публикации
        | Сначала новые
      +e('sortButton', '', 'a')(href="#0")
        +e('sortInfo') по дате публикации
        | Сначала старые
      +e('sortButton', '', 'a')(href="#0")
        +e('sortInfo') по дате появления на Редколлегии
        | Сначала новые
      +e('sortButton', '', 'a')(href="#0")
        +e('sortInfo') по дате появления на Редколлегии
        | Сначала старые
  +e('date')
    +e('dateCurrent', '', 'button') 2019
    +e('dateList')
      include calender--years

