-
  Facebook
  Vk
  Telegram
  Twitter
  Youtube

// fold-socials
+b('foldSocials')
  +e('item', 'main', 'button')
    span.visually-hidden Социальные сети
    // images/socials/socials.svg
    include ../../images/socials/socials.svg

  +e('item', 'fb', 'a')
    span.visually-hidden facebook
    // images/socials/fb.svg
    include ../../images/socials/fb.svg

  +e('item', 'vk', 'a')
    span.visually-hidden vkontakte
    // images/socials/vk.svg
    include ../../images/socials/vk.svg

  +e('item', 'inst', 'a')
    span.visually-hidden telegram

    // images/socials/instagram.svg
    include ../../images/socials/instagram.svg

  //+e('item', 'tw', 'a')
  //  span.visually-hidden twitter
  //  include ../../images/twitter.svg
  //
  //+e('item', 'yt', 'a')
  //  span.visually-hidden youtube
  //  include ../../images/youtube.svg

