-
  const imgs = [
    './files/gallery/gallery-01.jpg',
    './files/gallery/gallery-02.jpg',
    './files/gallery/gallery-03.jpg',
    './files/gallery/gallery-04.jpg',
    './files/gallery/gallery-05.jpg',
    './files/gallery/gallery-03.jpg',
    './files/gallery/gallery-04.jpg',
    './files/gallery/gallery-05.jpg',
  ]

// gallery
+b('gallery')
  +e('inner')
    +e('main', '', 'a')(href="./files/gallery/gallery-01@full.jpg" data-fslightbox="gallery1"): img(src="./files/gallery/gallery-01@full.jpg" alt="")
    +e('list', '', 'ul')
      for i in imgs
        +e('item')
          a(href=i data-fslightbox="gallery1"): img(src=i alt="")
      +e('item', 'counter')
        +e('counter', '', 'a')(data-fslightbox-gallery="gallery1")
          +e('total') 15
          +e('text') Фотографии
