// header-actions.pug
+b('headerActions')

  if login
    +e('item', 'user')
      include ../components/user-nav
  else
    +e('item', 'login', 'a')(href="#0" data-modal=".modal--login")
      span.visually-hidden Вход
      include ../../images/login.svg

  +e('item', 'search', 'a')(href="#0")
    span.visually-hidden Поиск
    include ../../images/search.svg
