-
  var laureatesNumber = laureatesNumber || 3;

// laureates--innerPage
+b('laureates', 'innerPage')
  +e('items', '', 'ul')
    for i, index in Array(laureatesNumber)
      +e('item')
        if index === 1
          +e('image')
            +e('dots')
              +e('dot', '', 'button')
              +e('dot', '', 'button')
              +e('dot', '', 'button')
            +e('arrows')
              +e('arrow', 'prev', 'button')
              +e('arrow', 'next', 'button')
            a(href="#0")
              +e('slider')
                +e('slide')
                  img(src="./files/laureates/laureate-02.jpg" alt="")
                +e('slide')
                  img(src="./files/laureates/laureate-01.jpg" alt="")
                +e('slide')
                  img(src="./files/laureates/laureate-03.jpg" alt="")
        else
          +e('image')
            a(href="#0"): img(src="./files/laureates/laureate-01.jpg" alt="")
        +e('readmore', '', 'a')(href="#0") Читать интервью
        +e('content', '', 'div')
          if index === 1
            +e('label', '', 'div') Соавторы:
          if index === 1
            +e('name', '', 'h3') Дарья Бурлакова
            +e('name', '', 'h3') Павел Каныгин
            +e('name', '', 'h3') Саша Сулим
          else
            +e('name', '', 'h3') Павел Каныгин
          +e('title', '', 'a')(href="#0") «Управление Генштаба по делам нечистой силы Минобороны 15 лет тратило миллионы долларов на экстрасенсов»
          +e('source', '', 'div') Новая газета

