// laureates--innerPage--flat
+b('laureates', 'innerPage.flat')
  +e('items')
    +b('monthSeparation')
      +e('date')
        +e('month', '', 'h2') Апрель
        +e('year') 2019
    for i, index in Array(4)
      +e('item')
        if index === 1
          +e('image')
            +e('dots')
              +e('dot', '', 'button')
              +e('dot', '', 'button')
              +e('dot', '', 'button')
            a(href="#0")
              +e('slider')
                +e('slide')(data-name="Дарья Бурлакова")
                  img(src="./files/laureates/laureate-02.jpg" alt="")
                +e('slide')(data-name="Павел Каныгин")
                  img(src="./files/laureates/laureate-01.jpg" alt="")
                +e('slide')(data-name="Саша Сулим")
                  img(src="./files/laureates/laureate-03.jpg" alt="")
        else
          +e('image')
            a(href="#0"): img(src="./files/laureates/laureate-01.jpg" alt="")
        +e('readmore', '', 'a')(href="#0") Читать интервью
        +e('content', '', 'div')
          if index === 1
            +e('label', '', 'div') Соавторы:
          if index === 1
            +e('name', '', 'h3') Дарья Бурлакова
          else
            +e('name', '', 'h3') Павел Каныгин
          +e('title', '', 'a')(href="#0") «Управление Генштаба по делам нечистой силы Минобороны 15 лет тратило миллионы долларов на экстрасенсов»
          +e('source', '', 'div') Новая газета

    +b('monthSeparation')
      +e('date')
        +e('month', '', 'h2') Апрель
        +e('year') 2019
    for i, index in Array(3)
      +e('item')
        if index === 1
          +e('image')
            +e('dots')
              +e('dot', '', 'button')
              +e('dot', '', 'button')
              +e('dot', '', 'button')
            a(href="#0")
              +e('slider')
                +e('slide')(data-name="Дарья Бурлакова")
                  img(src="./files/laureates/laureate-02.jpg" alt="")
                +e('slide')(data-name="Павел Каныгин")
                  img(src="./files/laureates/laureate-01.jpg" alt="")
                +e('slide')(data-name="Саша Сулим")
                  img(src="./files/laureates/laureate-03.jpg" alt="")
        else
          +e('image')
            a(href="#0"): img(src="./files/laureates/laureate-01.jpg" alt="")
        +e('readmore', '', 'a')(href="#0") Читать интервью
        +e('content', '', 'div')
          if index === 1
            +e('label', '', 'div') Соавторы:
          if index === 1
            +e('name', '', 'h3') Дарья Бурлакова
          else
            +e('name', '', 'h3') Павел Каныгин
          +e('title', '', 'a')(href="#0") «Управление Генштаба по делам нечистой силы Минобороны 15 лет тратило миллионы долларов на экстрасенсов»
          +e('source', '', 'div') Новая газета

