-
  var menu = [
  {
  title: 'Претенденты',
  url: '#0'
  },
  {
  title: 'Лауреаты',
  url: '#0',
  },
  {
  title: 'О Нас',
  url: '#0',
  },
  {
  title: 'Правила',
  url: '#0',
  },
  {
  title: 'События',
  url: '#0'
  },
  {
  title: 'Username',
  url: 'none',
  children: [
  {
    title: 'Профиль',
    url: '#0'
  },
  {
    title: 'Выход',
    url: '#0'
  },
  ]
  },
  ];

// menu
+b('menu', '', 'nav')
  +e('list', '', 'ul')
    for i in menu
      if !(!login && i.title === 'Username')
        - parentMod = i.children && i.children.length !== 0 ? 'parent' : null
        +e('item', {m: parentMod})

          if i.url !== 'none'
            +e('link', {m: parentMod}, 'a')(href=i.url data-hover=i.title) !{i.title}
          else
            +e('link', { m: parentMod }, 'span')(href=i.url data-hover=i.title) !{i.title}

          if i.children && i.children.length !== 0
            +e('subMenu', '', 'ul')
              for i2 in i.children
                +e('item'): +e('link', '', 'a')(href=i2.url) !{i2.title}
