// mobMenu
+b('mobMenu', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('content')
      +e('logoAndClose')
        +e('logo'): img(src="./files/logo.svg" alt="Logo")
        +e('close', '', 'button'): span.visually-hidden Закрыть меню
      +e('menu')
        - login = true
        include menu

      +e('landAndActions')
        +e('lang'): include ../components/lang
        - login = false;
        +e('actions'): include ../components/header-actions
      +e('btnWrp')
        +b('button', { e: '&' }, 'a')(href="#0" data-modal=".modal--propose") Предложить кандидата
