// other-articles
+b('otherArticles')
  +e('items', '', 'ul')
    for i in Array(3)
      +e('item')
        +e('card', '', 'a')(href="#0")
          +e('date', '', 'time')(datetime="2019-05-21") 21.05.19
          +e('title', '', 'h3') Конференция "Редколлегии" в Варшаве 2019
