// pager
+b('pager', '', 'ul')
  +e('item')
    +e('link', 'prev', 'a')(href="#0"): span.visually-hidden Назад
  +e('item')
    +e('link', 'current', 'span') 2019
  +e('item')
    +e('link', 'next.disabled', 'a')(href="#0"): span.visually-hidden Вперед
