-
  var rules = [
    'Мастерство, <br>ответственность, смелость',
    'Рекомендуем <br>кандидатов',
    'Руководство <br>рекомендациям',
    'Отбираем <br>журналистские работы',
    'Претенденты – <br>физические лица',
    'Свежесть работы – <br>пол года?',
    'Работы на <br>русском языке',
    'Доступ широкой <br>публики',
    'Жанры и <br>формы',
    'Работа на <br>волонтерской основе',
    'Объективные <br>решения',
    'Публикация <br>результатов',
    'Выплата <br>премии'
  ];

// rules.pug
+b('rulesPreviews')(class="scrollRow")
  +e('items')(class="scrollRow__inner")
    for i, index in rules
      +e('item')
        +e('number') Правило !{index + 1}
        +e('title'): span !{i}
  +e('arrows')
    +e('arrow', 'prev')(class="scrollRow__arrowPrev disabled")
    +e('arrow', 'next')(class="scrollRow__arrowNext")
