-
  var rules = [
  'Мастерство, <br>ответственность, смелость',
  'Рекомендуем <br>кандидатов',
  'Руководство <br>рекомендациям',
  'Отбираем <br>журналистские работы',
  'Претенденты – <br>физические лица',
  'Свежесть работы – <br>пол года?',
  'Работы на <br>русском языке',
  'Доступ широкой <br>публики',
  'Жанры и <br>формы',
  'Работа на <br>волонтерской основе',
  'Объективные <br>решения',
  'Публикация <br>результатов',
  'Выплата <br>премии'
  ];

// rules.pug
+b('rules')
  +e('pageTitle', '', 'h1')(class="pageTitle") Правила Редколлегии
  +e('slider')
    for i, index in rules
      +e('slide')
        +e('cnt')
          +e('header')
            +e('number') Правило !{index + 1}
            +e('title', '', 'h2') !{i}
          +e('main') Редколлегия действует, исходя из намерения Учредителя выплачивать ежемесячные денежные премии российским журналистам, продемонстрировавшим высокое мастерство, гражданскую ответственность и личную смелость при исполнении своих профессиональных обязанностей (в дальнейшем Премии).
  +e('previews')
    include rules-previews
