-
  var items = [
  {
    text: 'twitter',
    mod: 'tw'
  },
  {
    text: 'vkontakte',
    mod: 'vk'
  },
  {
    text: 'facebook',
    mod: 'fb'
  },
  {
    text: 'telegram',
    mod: 'tg'
  },
  {
    text: 'odnoklassniki',
    mod: 'ok'
  },
  ]

// social-footer.pug
+b('socialFooter', '', 'ul')
  for i in items
    +e('item')
      +e('link', '', 'a')(href="#0")
        span.visually-hidden=i.text
        if i.mod === 'tw'
          // images/socials/twitter.svg
          include ../../images/socials/twitter.svg
        if i.mod === 'vk'
          // images/socials/vk.svg
          include ../../images/socials/vk.svg
        if i.mod === 'fb'
          // images/socials/fb.svg
          include ../../images/socials/fb.svg
        if i.mod === 'tg'
          // images/socials/telegram.svg
          include ../../images/socials/telegram.svg
        if i.mod === 'ok'
          // images/socials/ok.svg
          include ../../images/socials/ok.svg




