extend ../layout/layout.pug

block vars
  - var body_classes = ['page--error'];
  - var title = 'Ошибка 404'

block content
  +b('errPage')
    +e('inner')
      +e('title', '' , 'h1')
        strong Ошибка
        | Такой страницы нет, <br>попробуйте еще раз.
      +e('body') Ошибка – такое же важное обстоятельство в жизни, как и правда. <br>Карл Густав Юнг (Carl Gustav Jung, 1875–1961), шведский психиатр
      +b('button', { e: '&' }, 'a')(href="/"): span Вернуться на главную
