extend ../layout/layout.pug

block vars
  - var body_classes = [];
  - var title = 'О нас'

block content
  +b('aboutPage')
    +e('items')
      +e('item')
        +e('body')
          +e('title', '', 'h1')(class="pageTitle") О нас
          p  — это независимая премия, учрежденная благотворительной организацией Sreda Foundation для поддержки свободной профессиональной журналистики в России. Задача организаторов премии – помочь тем, кто сохраняет в России высокие стандарты профессии в то время, когда свободная и качественная журналистика подвергается давлению со стороны государства, а права человека на свободное выражение своего мнения и на свободный доступ к информации систематически нарушаются.

          p В рамках этого проекта «Редколлегия» будет поощрять авторов, которые создали и опубликовали в России журналистские произведения, отвечающие высоким стандартам профессии. Это поможет им продолжать свое важное и полезное для общества дело в трудных обстоятельствах.

          p.bold Группа экспертов, уполномоченных инициаторами «Редколлегии», будет выбирать лауреатов ежемесячно. Премия будет выплачиваться только конкретным людям, она не предназначена для поддержки каких-либо организаций, учреждений, — например, целых редакций или изданий.

          +e('mobileShow')
            p Премией награждается всякий раз конкретная публикация, уже вышедшая в свет. Награждено может быть любое произведение (текст, радиопрограмма, видеоматериал) опубликованное любым доступным автору образом: на бумаге или в электронном виде, в формально зарегистрированном СМИ или в личном блоге, внутри большой социальной сети или на отдельном, независимом персональном сайте.

            p Размер аудитории или место публикации не имеют значения: главное – высокое качество профессиональной журналистской работы. По решению экспертов, в каждом месяце может быть награжден один или несколько лауреатов. Минимальный размер одной премии «Редколлегии» будет составлять рублевый эквивалент 2 000 долларов США. Награждение премией будет осуществляться публично: каждый лауреат должен дать согласие на выплату ему премии от «Редколлегии», и деньги будут законным образом переведены ему на банковский счет. Подробнее с принципами работы проекта можно ознакомиться в <a href="#0" target="_blank">Правилах «Редколлегии»</a>.

        +e('aside')
          include ../components/about-aside

      +e('item')
        +e('body')(class="aboutPage__mobileHide")
          p Премией награждается всякий раз конкретная публикация, уже вышедшая в свет. Награждено может быть любое произведение (текст, радиопрограмма, видеоматериал) опубликованное любым доступным автору образом: на бумаге или в электронном виде, в формально зарегистрированном СМИ или в личном блоге, внутри большой социальной сети или на отдельном, независимом персональном сайте.

          p Размер аудитории или место публикации не имеют значения: главное – высокое качество профессиональной журналистской работы. По решению экспертов, в каждом месяце может быть награжден один или несколько лауреатов. Минимальный размер одной премии «Редколлегии» будет составлять рублевый эквивалент 2 000 долларов США. Награждение премией будет осуществляться публично: каждый лауреат должен дать согласие на выплату ему премии от «Редколлегии», и деньги будут законным образом переведены ему на банковский счет. Подробнее с принципами работы проекта можно ознакомиться в <a href="#0" target="_blank">Правилах «Редколлегии»</a>.

        +e('aside')
          include ../components/about-aside--experts


