extend ../layout/layout.pug

block vars
  - var body_classes = ['page'];
  - var title = 'Претенденты за месяц'

block content
  +b('pageTop')
    +e('titleWrp')
      +e('title', '', 'h1')(class="pageTitle") Претенденты <span>апреля 2019</span>
      +e('info')
        +e('item')
          | Всего:#{' '}
          +e('value', '', 'span') 87
        +e('item')
          | Сегодня:#{' '}
          +e('value', '', 'span') 5
    +e('filter'): include ../components/filter

  include ../components/applicants--month

  include ../components/pager
