extend ../layout/layout.pug

block vars
  - var body_classes = ['page'];
  - var title = 'Претенденты за год'

block content
  +b('pageTop')
    +e('title', '', 'h1')(class="pageTitle") Претенденты за <span>2019</span>
    +e('filter'): include ../components/filter

  include ../components/applicants

  include ../components/pager
