extend ../layout/layout.pug

block vars
  -
    var body_classes = ['page--notfront'];
    var title = 'Навигация для разрабочика'

  -
    var links = [
    {
      link: '/index.html',
      title: 'Главная',
    },
    {
      link: '/index-alt.html',
      title: 'Главная (другой первый блок)',
    },
    {
      link: '/base.html',
      title: 'Базовая страница',
    },
    {
      link: '/base--login.html',
      title: 'Базовая страница (залогинен человек)',
    },
    {
      link: '/laureates.html',
      title: 'Лауреаты',
    },
    {
    link: '/laureates-flat-structure.html',
    title: 'Лауреаты (c костылем)',
    },
    {
      link: '/applicants-month.html',
      title: 'Претенденты за месяц',
    },
    {
      link: '/applicants-year.html',
      title: 'Претенденты за год',
    },
    {
      link: '/about.html',
      title: 'О нас',
    },
    {
      link: '/events.html',
      title: 'События',
    },
    {
      link: '/event.html',
      title: 'Событие',
    },
    {
      link: '/interview.html',
      title: 'Интервью',
    },
    {
      link: '/laureate.html',
      title: 'Лауреат',
    },
    {
      link: '/rules.html',
      title: 'Правила',
    },
    {
      link: '/404.html',
      title: '404',
    },
    {
      link: '/search-markup.html',
      title: 'Поиск (все карточки)',
    },
    ]

block content
  // devNav
  +b('devNav', { b: 'block' }, 'section')
    +e('inner', { e: 'block' })
      +e('heading', { e: 'block' }, 'h2') Навигация для разработчика
      +e('list', '', 'ul')
        for i in links
          +e('item')
            +e('link')(href=i.link)= i.title
              +e('url')= i.link
