extend ../layout/layout.pug

block vars
  - var body_classes = [];
  - var title = 'Событие'

block content
  +b('basePage', { b: 'block' }, 'section')
    +e('inner', { e: 'block' })
      +e('date', '', 'time')(datetime="2019-07-17") 17.07.2019
      +e('pageTitle', { e: 'block' }, 'h1') Конференция "Редколлегии" в Варшаве 2019
      +e('video')
        +e('player'): include ../components/youtube-video.html
        +e('caption') Варшава, 2019
      +e('body', { e: 'block' })
        p Работа над материалом о трагедии в семье Хачатурян шла 4 месяца. Конечно же, параллельно приходилось работать и над другими темами Сложнее всего дались интервью с близкими и друзьями семьи. При этом сложность была скорее технического характера. Многие близкие и родственники сестер Хачатурян  подписали к тому моменту контракты с ТВ, предполагающие запрет на интервью с другими СМИ.

        include ../components/gallery

        p При этом люди чаще всего не были против общения с прессой. Более того, мама и подруги сестер, напротив, видели в общении со СМИ возможность повлиять в лучшую сторону на судьбу девочекКак бы там ни было, но многие пишущие СМИ обошли историю стороной, не став разбираться в подробностях трагедии. То ли их отпугивала некая на первый взгляд бульварность темы, и необходимость разбирать грязное белье, то ли тот факт, что история активно освещается на ТВ. И ничего нового, казалось бы, уже не прибавить.

  include ../components/other-articles
  include ../components/comments


