extend ../layout/layout.pug

block vars
  - var body_classes = ['page'];
  - var title = 'События'

block content
  +b('pageTop', 'events')
    +e('titleWrp')
      +e('title', '', 'h1')(class="pageTitle") События
    +e('filter'): include ../components/filter--events

  include ../components/events

  include ../components/pager
