extend ../layout/layout.pug

block vars
  - var body_classes = ['page--front'];
  - var title = 'Главная'
  - var altFrontPage = true;

block content
  include ../components/front-tabs/front-tabs-layout

