extend ../layout/layout.pug

block vars
  - var body_classes = ['page'];
  - var title = 'Лауреаты'

block content
  +b('pageTop')
    +e('title', '', 'h1')(class="pageTitle") Лауреаты
    +e('filter'): include ../components/filter--laureates

  +b('laureatsByMonth')
    +b('monthSeparation')
      +e('date')
        +e('month', '', 'h2') Апрель
        +e('year') 2019
    +e('item')
      - var laureatesNumber = 4;
        include ../components/laureates--innerPage.pug

    +b('monthSeparation')
      +e('date')
        +e('month', '', 'h2') Апрель
        +e('year') 2019
    +e('item')
      - var laureatesNumber = 4;
        include ../components/laureates--innerPage.pug


  include ../components/pager
