extend ../layout/layout.pug

block vars
  - var body_classes = [];
  - var title = 'Поиск'

block content
  include ../components/search/search-field-page
  include ../components/search/search-results
