// modal--success
+b('modal', 'success')
  +e('bg')
  +e('inner')
    +e('content')(class="cntWrp")
      +e('contentInner')
        +e('title', '', 'h2') Спасибо за Вашу заявку!

        +e('form')
          +b('button', { e: '&' }, 'div')(data-modal-closer) Закрыть

        +e('close', '', 'button'): span.visually-hidden Закрыть модальное окно



