// modal--login
+b('modal', 'login')
  +e('bg')
  +e('inner')
    +e('content')(class="cntWrp")
      +e('contentInner')
        +e('title', '', 'h2') Вход для лауреатов

        +e('form')
          include ../form/form--login

        +e('close', '', 'button'): span.visually-hidden Закрыть модальное окно



