// modal--propose
+b('modal', 'propose')
  +e('bg')
  +e('inner')
    +e('content')(class="cntWrp")
      +e('contentInner')
        +e('title', '', 'h2') Предложить кандидата
        +e('dscr') Ознакомиться с
          | #{' '}
          a(href="#0" target="_blank") правилами премии «Редколлегия»

        +e('form')
          .wpcf7(data-success-modal=".modal--success")
          include ../form/form-propose

        +e('close', '', 'button'): span.visually-hidden Закрыть модальное окно



