-
  var jury = [
    // 'jury-01.jpg',
    // 'jury-02.jpg',
    // 'jury-03.jpg',

    'person.png',
    'person.png',
    'person.png',

  ]
  var experts = [
    // 'jury-01.jpg',
    // 'jury-02.jpg',
    // 'jury-03.jpg',

    'person.png',
    'person.png',
    'person.png',
  ]

// front-tabs-content-project.pug
+b('frontTabsContentProject')
  +e('body') — это независимая премия, учрежденная благотворительной организацией Sreda Foundation для поддержки свободной профессиональной журналистики в России.
    +e('link', '', 'a')(href="#0"): span.visually-hidden Подробнее

  +e('staff')
    +e('staffGallery', '', 'a')(href="#0")
      +e('subtitle', '', 'h3') Жюри:
      +e('items')
        for i in jury
          +e('item'): img(src="./files/"+i alt="")
        +e('item', 'text') +4

    +e('staffGallery', '', 'a')(href="#0")
      +e('subtitle', '', 'h3') Эксперты:
      +e('items')
        for i in experts
          +e('item'): img(src="./files/"+i alt="")
