-
  var items = [];
  var laureatesNumber = 4;

// front-tabs-content-laureates.pug
+b('frontTabsContentLaureates')
  +e('scrollRow')(class="scrollRow")
    +e('scrollInner')(class="scrollRow__inner")
      include ../laureates
  +e('btnWrp')
    +b('button', { e: '&', m: 'arrow' }, 'a')(href="#0")
      span Посмотреть все
