// front-tabs-content.pug
+b('frontTabsContent')
  +e('item')(data-tab-id="0")
    if (altFrontPage)
      include front-tabs-content-project-news.pug
    else
      include front-tabs-content-project.pug
  +e('item')(data-tab-id="1" hidden)
    include front-tabs-content-applicants
  +e('item')(data-tab-id="2" hidden)
    include front-tabs-content-laureates

