-
  var items = [
  {
    title: 'Проект Редколлегия',
    count: '',
  },
  {
    title: 'Лауреаты марта 2019',
    count: '',
  },
  {
    title: 'Претенденты апреля 2019',
    count: '333',
  },
  {
    title: 'Все претенденты',
    count: '',
    url: '#0'
  },
  ]

// front-tabs-nav.pug
+b('frontTabsNav')
  for i, index in items
    +e('item')
      if !i.url
        +e('button', '', 'button')(data-tab-id=index data-text=i.title)
          | !{i.title}
          if i.count
            +e('count', '', 'span')= i.count
      if i.url
        +e('button', '', 'a')(href=i.url data-text=i.title data-tab-id="3")
          | !{i.title}
