-
  var items = [
  {
    title: '«Когда пойдем убирать косточки?»',
    data: '21.05.19',
    author: 'Иван Козлов',
    source: 'meduza',
    img: 'article-01.jpg'
  },
  ]

// front-tabs-content-applicants.pug
+b('frontTabsContentApplicants')
  +e('scrollRow')(class="scrollRow")
    +e('scrollInner')(class="scrollRow__inner")
      +e('items', '', 'ul')
        for i in Array(16)
          +e('item')
            +e('card')(data-body="«Объявляется субботник по сбору человеческих останков на берегу реки Камы в Крюково-1. Начало в 10 час. При себе иметь перчатки, мешки». Пост с фотографией этого объявления появился в мае на")
              +e('image', '', 'a')(href="#0" target="_blank"): img(src="./files/article-01.jpg" alt="")
              +e('content', '', 'div')
                +e('dateAndSource', '', 'div')
                  +e('date', '', 'time')(datetime="2019-05-21") 21.05.19
                  +e('source') meduza
                +e('title', '', 'h3')(data-text-overflow="4"): a(href="#0" target="_blank") «Когда пойдем убирать косточки?»
                +e('author', '', 'div') Иван Козлов
      +e('moreInRow')
        +b('button', { e: '&', m: 'arrow' }, 'a')(href="#0"): span Посмотреть все
  +e('btnWrp')
    +b('button', { e: '&', m: 'arrow' }, 'a')(href="#0")
      span Посмотреть все
