// front-tabs-content-project-news.pug
+b('frontTabsContentProjectNews')
  +e('image', '', 'a')(href="event.html"): img(src="./files/main-news.jpg" alt="")
  +e('main')
    +e('date', '', 'time')(datetime="2019-06-12") 12.06.19
    +e('title', '', 'h3'): a(href="event.html") Конференция "Редколлегии" в&nbsp;Варшаве <br> 2019
    +e('more', '', 'a')(href="event.html") Подробнее

