// searchInterviewCard
+b('searchInterviewCard', '', 'article')
  +e('image', '', 'div'): img(src="./files/laureates/laureate-01.jpg" alt="")

  +e('main', '', 'div')
    +e('title', '', 'h3'): a(href="#0") Управление Генштаба по делам нечистой силы Минобороны 15 лет тратило миллионы долларов на экстрасенсов
    +e('authors')
      a(href="#0") Каныгин
      | ,#{' '}
      a(href="#0") Илья Муромский
    +e('body', '', 'p') В марте жители подмосковного Ликино-Дулево обнаружили в генплане округа большое красное пятно в центре леса. Оказалось, что власти решили отвести этот участок под строительство ком...
    +e('readMore', '', 'a')(href="#0") Читать интервью
