// search-field-page.pug
+b('searchField', 'page', 'section')
  +e('field', '', 'span')(contenteditable)
  +e('placeholder', '', 'span') Найти публикации претендентов, лауреатов или интервью
  +e('clean', '', 'button'): span.visually-hidden Очистить поле
