// searchInterviewCard
+b('searchLaureateCard', '', 'article')
  +e('image', '', 'a')(href="#0"): img(src="./files/laureates/laureate-01.jpg" alt="")

  +e('main', '', 'div')
    +e('title', '', 'h3'): a(href="#0") Иван Голунов

    +e('info')
      +e('infoItem')
        | Претендентных работ:
        +e('infoNum', '', 'span') 4
      +e('infoItem')
        | Лаурентных работ
        +e('infoNum', '', 'span') 1

    +e('body', '', 'p') В марте жители подмосковного Ликино-Дулево обнаружили в генплане округа большое красное пятно в центре леса. Оказалось, что власти решили отвести этот участок под строительство ком...
    +e('readMore', '', 'a')(href="#0") Профиль лауреата
