// search-results
+b('searchResults', '', 'section')
  +e('inner')(class="inner")
    +e('tabs'): include search-tabs
    //- +e('empty') По вашему запросу ничего не найдено
    +e('list', '', 'ul')
      if (showAll)
        +e('item'): include search-card
        +e('item'): include search-card--publication
        +e('item'): include search-interview-card
        +e('item'): include search-laureate-card
        +e('item'): include search-card--event

