// search-field-popup.pug
+b('searchField', 'popup', 'section')(data-search-url="search.html")
  //input(type="search" placeholder="Происк")
  +e('field', '', 'span')(contenteditable)
  +e('placeholder', '', 'span') Найти публикации претендентов, лауреатов или интервью
  +e('clean', '', 'button'): span.visually-hidden Очистить поле
