// search-card
+b('searchCard', '', 'article')
  +e('image', '', 'a')(href="#0"): img(src="./files/article-01.jpg" alt="")

  +e('main', '', 'div')
    +e('info')
      +e('date', '', 'time')(datetime="2019-05-28") 28.05.2019
      +e('source') Meduza
    +e('title', '', 'h3'): a(href="#0") «Когда пойдем убирать косточки?»
    +e('body', '', 'p') В марте жители подмосковного Ликино-Дулево обнаружили в генплане округа большое красное пятно в центре леса. Оказалось, что власти решили отвести этот участок под строительство ком...
    +e('author')
      a(href="#0") Иван Козлов
