// search-tabs
+b('searchTabs', '', 'ul')
  +e('item')
    +e('tab', 'applicants_texts', 'button')(data-tab-name="applicants_texts")
      | Публикации претендентов:#{' '}
      +e('num', '', 'span') 0
  +e('item')
    +e('tab', 'laureates_texts', 'button')(data-tab-name="laureates_texts")
      | Публикации лауреатов:#{' '}
      +e('num', '', 'span') 0
  +e('item')
    +e('tab', 'interviews', 'button')(data-tab-name="interviews")
      | Интервью:#{' '}
      +e('num', '', 'span') 0
  +e('item')
    +e('tab', 'laureates_users', 'button')(data-tab-name="laureates_users")
      | Лауреаты:#{' '}
      +e('num', '', 'span') 0
  +e('item')
    +e('tab', 'events', 'button')(data-tab-name="events")
      | События:#{' '}
      +e('num', '', 'span') 0
