.aboutPage {}

.aboutPage__title {
  margin-bottom: 30px;
  position: relative;
}

.aboutPage__items {
  margin-top: 20px;
}

.aboutPage__item {
  display: flex;
  align-items: flex-start;

  @include media(mtp) {
    display: block;
  }

  &:nth-child(n + 2) {
    margin-top: 193px;

    @include media(mtp) {
      margin-top: 100px;
    }

    @include media(msl) {
      margin-top: -20px;
    }
  }

  &:nth-child(2n) {
    flex-direction: row-reverse;

    .aboutAside__title {
      text-align: left;

      @include media(msp) {
        margin-left: 10px;
      }
    }

    .aboutPage__body {
      margin-right: 0;
    }

    .aboutPage__aside {
      //margin-right: 88px;
      margin-right: 140px;

      @include media(msp) {
        margin-right: -11px;
      }
    }
  }
}

.aboutPage__body {
  width: 52%;
  margin-right: auto;
  line-height: 1.7;
  position: sticky;
  top: 20vh;

  @include media(mtl) {
    top: 12%;
    margin-right: 70px;
  }

  @include media(mtp) {
    position: static;
    width: 100%;
    max-width: 760px;
  }

  @include media(msl) {
    font-size: 14px;
  }

  @include media(msp) {
    font-size: 12px;
  }

  p {
    margin-bottom: 1.6em;
  }

  .bold {
    font-weight: 700;
  }

  a {
    color: $color-title;
    font-weight: 700;
    text-decoration-color: currentColor;

    &:hover {
      color: $color-style;
    }
  }
}

.aboutPage__aside {
  //width: 363px;
  width: 420px;
  margin-top: 20px;
  margin-right: 112px;
  flex-shrink: 0;

  @include media(msd-2) {
    margin-right: 0;
  }

  @include media(mtl) {
    width: 363px;
  }

  @include media(mtp) {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
  }

  @include media(msp) {
    width: auto;
    margin-left: -11px;
    margin-right: -11px;
  }
}

.aboutPage__mobileShow {
  display: none;

  @include media(mtp) {
    display: block;
  }
}

.aboutPage__mobileHide {
  @include media(mtp) {
    display: none;
  }
}

