.aboutAside {

  &:not(&--reverse) {
    .aboutAside__item:nth-child(2n - 1) {
      margin-right: 48px;

      @include media(mtl) {
        margin-right: 0;
      }

      .aboutAside__img {
        margin-left: auto;
        border-right: none;

        @include media(msp) {
          margin-right: 1px;
        }
      }

      .aboutAside__name {
        text-align: right;
        margin-right: 120px;
        margin-left: 20px;
      }

      .aboutAside__content {
        margin-right: 66px;

        @include media(msp) {
          margin-left: 30px;
        }
      }

      .aboutAside__socials {
        margin-right: 183px;
      }
    }

    .aboutAside__item:nth-child(2n) {
      margin-left: 48px;

      @include media(mtl) {
        margin-left: 0;
      }

      .aboutAside__img {
        margin-right: auto;
        border-left: 0;

        @include media(msp) {
          margin-left: 1px;
        }
      }

      .aboutAside__name {
        margin-left: 120px;
        margin-right: 20px;
      }

      .aboutAside__content {
        margin-left: 66px;

        @include media(msp) {
          margin-right: 30px;
        }
      }

      .aboutAside__socials {
        margin-left: 183px;
      }

    }
  }
  &--reverse {
    .aboutAside__item:nth-child(2n) {
      margin-right: 48px;

      @include media(mtl) {
        margin-right: 0;
      }

      .aboutAside__img {
        margin-left: auto;
        border-right: none;

        @include media(msp) {
          margin-right: 1px;
        }
      }

      .aboutAside__name {
        text-align: right;
        margin-right: 120px;
        margin-left: 20px;
      }

      .aboutAside__content {
        margin-right: 66px;

        @include media(msp) {
          margin-left: 30px;
        }
      }

      .aboutAside__socials {
        margin-right: 183px;
      }
    }

    .aboutAside__item:nth-child(2n - 1) {
      margin-left: 48px;

      @include media(mtl) {
        margin-left: 0;
      }

      .aboutAside__img {
        margin-right: auto;
        border-left: 0;

        @include media(msp) {
          margin-left: 1px;
        }
      }

      .aboutAside__name {
        margin-left: 120px;
        margin-right: 20px;
      }

      .aboutAside__content {
        margin-left: 66px;

        @include media(msp) {
          margin-right: 30px;
        }
      }

      .aboutAside__socials {
        margin-left: 183px;
      }

    }
  }
}

.aboutAside__title {
  text-align: right;
  font-size: 36px;
  margin-bottom: 20px;

  @include media(msl) {
    font-size: 26px;
    margin-right: 10px;
  }
}

.aboutAside__items {
  @include list-reset;
}

.aboutAside__item {
  margin-bottom: 47px;
}

.aboutAside__img {
  width: 176px;
  height: 233px;
  display: flex;
  align-items: flex-end;
  background-image: url(../images/img-bg.svg);
  background-size: cover;
  background-position: center;
  border: 10px solid $color-bg;
  box-sizing: content-box;
  position: relative;
  z-index: 1;
}

.aboutAside__main {
  margin-top: -101px;

  @include media(msp) {
    margin-top: -87px;
  }
}

.aboutAside__socials {
  margin-bottom: 25px;
}

.aboutAside__content {
  border: 1px solid $color-border;
  //padding: 0 20px 25px 30px;
}

.aboutAside__name {
  font-weight: 700;
  line-height: 1.04;
  font-size: 26px;
  margin-top: -18px;
  margin-bottom: 19px;
  background-color: $color-bg;
  min-height: 1.04em * 2;

  @include media(mtl) {
    font-size: 22px;
  }

  @include media(msp) {
    font-size: 16px;
    margin-bottom: 17px;
  }
}

.aboutAside__body {
  font-size: 14px;
  line-height: 1.5;
  padding: 0 20px 25px 30px;

  @include media(msp) {
    font-size: 12px;
  }
}

