.applicants {

  @include media(msl) {
    margin-bottom: 69px;
  }
}

.applicants__items {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: -10px;
  margin-right: -10px;

  @include media(msp) {
    margin-left: 0;
    margin-right: 0;
  }

  &::before {
    position: absolute;
    top: 1px;
    bottom: 0;
    left: -11px;
    width: 1px;
    background-color: #de9595;

    @include media(msp) {
      content: '';
    }
  }
}

.applicants__item {
  width: 25%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 55px;
  position: relative;

  @include media(mtp) {
    width: 50%;
  }

  @include media(msp) {
    width: 100%;
    margin-bottom: 35px;
    padding-left: 0;
    padding-right: 0;
  }

  &::before {
    position: absolute;
    top: 1px;
    left: -13px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $color-style;

    @include media(msp) {
      content: '';
    }
  }
}

.applicants__card {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.applicants__image {
  margin-bottom: 8px;
  transition-duration: 0.4s;

  @include media(msp) {
    display: none;
  }

  &:hover {
    opacity: 0.7;
  }
}

.applicants__label {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  text-align: center;
  background-color: $color-style;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
  font-family: $font-sans;
  font-size: 8px;
  letter-spacing: 0.1em;
  font-weight: 800;
  padding: 5px 4px;

  @include media(msp) {
    position: relative;
    top: 3px;
    right: auto;
    margin-left: 5px;
    margin-top: -7px;
  }
}

.applicants__info {
  display: flex;
  align-items: center;
  line-height: 1;
  margin-bottom: 13px;
  font-size: 10px;
  font-family: $font-sans;
  letter-spacing: 0.05em;

  @include media(msp) {
    margin-bottom: 6px;
  }
}

.applicants__date {
  color: $color-style;
  font-weight: 800;

  &::after {
    content: '|';
    display: inline-block;
    margin-left: 0.3em;
    margin-right: 0.3em;
  }
}

.applicants__source {
  color: $color-style;
  font-weight: 800;
  margin-right: 10px;
}

.applicants__tags {
  color: $color-border;
  text-transform: uppercase;
}

.applicants__tag {
  margin-right: 0.2em;
  &::before {
    content: '#';
  }
}

.applicants__title {
  color: $color-title;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 16px;
  transition-duration: 0.4s;

  @include media(msp) {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 5px;
  }

  &:hover {
    color: $color-style;
  }
}

.applicants__author {
  line-height: 1.5;
  color: $color-title;

  @include media(msp) {
    font-size: 14px;
  }
}

