.applicantsPreview {
  position: fixed;
  left: 30px;
  right: 30px;
  bottom: 30px;
  z-index: 10;
  background-color: $color-bg;
  border: 1px solid $color-border;
  padding: 25px 65px 50px;
  display: flex;
  align-items: center;
  min-height: 190px;
  box-sizing: border-box;

  transition-duration: 0.5s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);

  @include media(mtl) {
    min-height: 285px;
  }

  @include media(mtp) {
    display: block;
  }

  @include media(msl) {
    padding: 30px 40px 70px 30px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    min-height: auto;
  }

  @include media(msp) {
    padding-left: 10px;
  }

  &--active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &::after {
    content: '';
    position: absolute;
    background-color: $color-bg;
    left: -2px;
    right: -2px;
    top: calc(100% + 1px);
    height: 35px;
  }
}

.applicantsPreview__header {
  width: 300px;
  flex-shrink: 0;
  margin-right: 50px;

  @include media(mtp) {
    margin-bottom: 13px;
  }

  @include media(msl) {
    width: auto;
  }
}

.applicantsPreview__top {
  display: flex;
  align-items: center;
  line-height: 1;
  font-family: $font-sans;
  font-weight: 800;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.applicantsPreview__date {
  color: $color-style;

  &::after {
    content: '|';
    display: inline-block;
    margin-left: 0.3em;
    margin-right: 0.3em;
    color: #c2c2c2;
  }
}

.applicantsPreview__source {
  color: #c2c2c2;
}

.applicantsPreview__title {
  margin: 0;
  font-size: 16px;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $color-style;
    }
  }
}

.applicantsPreview__body {
  max-width: 37em;

  @include media(msl) {
    font-size: 14px;
  }
}

.applicantsPreview__footer {}

.applicantsPreview__button {
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 300px;
  padding-top: 1.7em;
  padding-bottom: 1.7em;
  background-color: $color-bg;

  @include media(msl) {
    font-size: 10px;
    width: 240px;
  }

  @include media(msp) {
    width: auto;
    left: -1px;
  }
}

.applicantsPreview__close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 25px;
  right: 15px;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  padding: 0;
  background-image: url(../images/closer@red.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  transition-duration: 0.3s;
  outline: none;

  &:hover {
    transform: rotate(90deg);
  }
}

