.basePage {
  min-height: 40vh;

  &--sidebar {
    display: flex;

    @include media(msl) {
      display: block;
    }

    .basePage__inner {
      max-width: 650px;
      margin-left: 0;
    }
  }

  &--laureate {
    .basePage__body {
      h2:first-child {
        margin-top: 0;
        font-size: 46px;
        margin-bottom: 0.5em;

        @include media(mtp) {
          font-size: 36px;
        }

        @include media(msp) {
          font-size: 32px;
        }
      }
    }
  }
}

.basePage__aside {
  flex-shrink: 0;
  width: 300px;
  margin-right: 40px + 30px;
  box-sizing: border-box;
  border-right: 1px solid #ccc;

  @include media(mtp) {
    width: 240px;
    margin-right: 50px;
  }

  @include media(msl) {
    width: auto;
    border-right: none;
    border-top: 1px solid #ccc;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 35px;
  }

}

.basePage__inner {
  //max-width: 725px;
  max-width: 650px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 40px;
}

.basePage__type {
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  color: #bcbcbc;
  margin-bottom: 0.5em;

  @include media(msl) {
    font-size: 18px;
  }
}

.basePage__pageTitle {
  font-size: 46px;
  margin-bottom: 0.9em;

  @include media(mtp) {
    font-size: 36px;
  }

  @include media(msp) {
    font-size: 32px;
  }

  & + .basePage__readmore {
    margin-top: -25px;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.basePage__date {
  font-family: $font-sans;
  line-height: 1;
  color: #b3b3b3;
  letter-spacing: 0.04em;
  margin-bottom: 5px;
  font-weight: 800;

  @include media(mtp) {
    font-size: 14px;
  }
}

.basePage__inlinedate {
}

.basePage__readmore {
  display: block;
  margin-bottom: 40px;
  font-family: $font-sans;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.1em;
  transition-duration: 0.4s;

  &:hover {
    text-decoration: underline;
  }
}

.basePage__title {
  font-size: 36px;
  margin-top: 1.1em;
  margin-bottom: 0.9em;
}

.basePage__video {
  margin-bottom: 30px;

  @include media(msp) {
    margin-bottom: 23px;
  }
}

.basePage__player {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 18px;

  @include media(msp) {
    margin-left: -11px;
    margin-right: -11px;
    margin-bottom: 10px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -11px;
    right: -11px;
    bottom: -11px;
    left: -11px;
    pointer-events: none;
    border: 1px solid $color-border;

    @include media(msp) {
      content: none;
    }
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.basePage__caption {
  color: #b3b3b3;
  font-family: $font-sans;
  font-size: 14px;
}

.basePage__body {
  line-height: 1.7;

  @include media(msl) {
    font-size: 14px;
  }

  h2 {
    font-size: 36px;
    margin-top: 1.1em;
    margin-bottom: 0.9em;
  }
}

.basePage__section {
  margin-bottom: 60px;

  @include media(msl) {
    font-size: 14px;
  }
}

.basePage__sectionTitle {
  font-size: 36px;
  margin-top: 1.1em;
  margin-bottom: 0.9em;

  @include media(mtp) {
    font-size: 32px;
  }

  @include media(msp) {
    font-size: 28px;
  }
}

