.button {
  display: inline-block;
  appearance: none;
  line-height: 1;
  font-family: $font-sans;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: $color-text;
  text-align: center;
  padding: 1.5em 1.6em 1.2em;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition-duration: 0.3s;
  //overflow: hidden;
  background-color: $color-bg;
  border: 1px solid #ccc;

  $time: 0.1;

  &::before,
  &::after,
  span::before,
  span::after {
    content: '';
    position: absolute;
    background-color: $color-style;
    transition-duration: $time + s;
    transition-timing-function: linear;
  }

  &::before {
    left: -1px;
    bottom: 0;
    width: 1px;
    height: 0;
    transition-delay: ($time * 3) + s;
  }

  &::after {
    left: -1px;
    top: -1px;
    right: -1px;
    width: 0;
    height: 1px;
    transition-delay: ($time * 2) + s;
  }

  span::before {
    right: -1px;
    top: 0;
    width: 1px;
    height: 0;
    transition-delay: ($time * 1) + s;
  }

  span::after {
    bottom: -1px;
    right: -1px;
    height: 1px;
    width: 0;
  }

  &:hover {
    &::before {
      height: 100%;
      transition-delay: 0s;
    }

    &::after {
      width: calc(100% + 2px);
      transition-delay: ($time * 1) + s;
    }

    span::before {
      height: 100%;
      transition-delay: ($time * 2) + s;
    }

    span::after {
      width: calc(100% + 2px);
      transition-delay: ($time * 3) + s;
    }
  }
}

.button--arrow {
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-size: 20px 12px;
  background-position: calc(100% - 18px);
  padding-right: 45px;

  &:hover {
    background-position: calc(100% - 10px) center;
  }
}
