.calender {
  width: 100%;
  background-color: $color-bg;
  padding: 15px;
  box-sizing: border-box;

  &--years {

  }
}

.calender__cnt {
  font-family: $font-sans;
  border: 1px solid $color-border;
}

.calender__list {
  display: flex;
  flex-wrap: wrap;
}

.calender__month {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.333%;
  height: 45px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  margin-bottom: -1px;
  position: relative;

  &:nth-child(-n + 3) {
    border-top: 0;
  }

  &:nth-child(3n - 1),
  &:nth-child(3n - 2) {
    border-right: 1px solid $color-border;
  }

  &:hover {
    position: relative;
    z-index: 1;
    color: $color-style;
    &::after {
      display: block;
    }
  }

  &::after {
    content: '';
    position: absolute;
    pointer-events: none;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border: 1px solid $color-style;
    display: none;
  }

  &--active {
    position: relative;
    z-index: 1;
    color: $color-style;
    &::after {
      display: block;
    }
  }

  &--dis {
    pointer-events: none;
    color: #d3d3d3;
  }
}

.calender__all {
  display: block;
  width: 100%;
  color: inherit;
  text-decoration: none;
  transition-duration: 0.3s;
  text-align: center;
  padding: 15px 20px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1;

  &:hover,
  &--active {
    color: $color-style;
  }
}

.calender__pager {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0 3px;
}

.calender__arrow {
  display: block;
  width: 30px;
  height: 15px;
  margin-top: 4px;
  background-image: url(../images/arrow.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  appearance: none;
  border-radius: 0;
  box-shadow: none;
  border: none;
  outline: none;
  cursor: pointer;

  &--prev {
    transform: rotate(180deg);
  }

  &--dis {
    pointer-events: none;
    filter: grayscale(100%);
    opacity: 0.2;
  }
}

.calender__currentY {
  line-height: 1;
  font-weight: 700;
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
