.comments {
  max-width: 725px;
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;

  @include media(msp) {
    margin-bottom: -40px;
  }
}

.comments__title {
  font-size: 36px;
  margin-bottom: 37px;

  @include media(msl) {
    font-size: 26px;
    margin-bottom: 25px;
  }
}

.comments__items {
  @include list-reset;

  .comments__items {
    margin-left: 77px;

    @include media(msp) {
      margin-left: 40px;
    }

    .comments__item:first-child {
      border: none;
      padding-top: 5px;
    }
  }
}

.comments__item {
  margin-top: 20px;
  padding-top: 13px;
  border-top: 1px solid #e5e5e5;

  &--create {
    @include media(msp) {
      margin-left: -10px;
      margin-right: -10px;
      border-top: 1px solid #b5b5b5;
      padding-top: 0;
    }
  }
}

.comments__create {}

