.comment {
  display: flex;
  align-items: flex-start;

  &--create {
    @include media(msp) {
      position: relative;
    }

    .comment__image {
      margin-right: 14px;

      @include media(msp) {
        position: absolute;
        top: 13px;
        left: 10px;
      }
    }

    .comment__header {
      border: 1px solid #b5b5b5;
      padding: 19px 13px;

      @include media(msp) {
        border: none;
        padding: 23px 13px 23px 50px;
      }
    }

    .comment__msg {
      @include media(msp) {
        border: none;
        border-top: 1px solid #b5b5b5;
      }
    }
  }
}

.comment__image {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-image: url(../images/img-bg.svg);
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  margin-right: 27px;

  @include media(msl) {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  img {
    width: auto;
    max-width: 100%;
  }
}

.comment__main {
  flex-grow: 1;
}

.comment__header {
  display: flex;
  align-items: center;
  font-family: $font-sans;
  padding-top: 15px;
  padding-bottom: 22px;

  @include media(msl) {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 11px;
  }
}

.comment__name {
  color: $color-title;
  line-height: 1;
  font-weight: 800;
  margin-right: 15px;
}

.comment__answered {
  color: #bfbfbf;
}

.comment__body {
  line-height: 1.4;
  margin-bottom: 13px;

  @include media(msl) {
    font-size: 14px;
  }

  @include media(msp) {
    font-size: 12px;
  }
}

.comment__footer {
  display: flex;
  align-items: center;
  font-family: $font-sans;

  @include media(msl) {
    font-size: 14px;
  }
}

.comment__date {
  color: #bfbfbf;
  margin-right: 15px;
}

.comment__reply {
  text-decoration: none;
  transition-duration: 0.2s;

  &:hover {
    text-decoration: underline;
  }
}

.comment__form {}

.comment__msg {
  appearance: none;
  resize: none;
  display: block;
  width: 100%;
  min-height: 130px;
  box-sizing: border-box;
  padding: 13px;
  background-color: transparent;
  font-size: 14px;
  outline: none;
  border: 1px solid #b5b5b5;
  border-top: none;

  &::placeholder {
    color: #b4b4b4;
  }
}

.comment__actions {
  text-align: right;
}

.comment__button {
  display: block;
  width: 17.2em;
  padding: 1.3em 2em;
  box-sizing: border-box;
  margin-left: auto;
  appearance: none;
  box-shadow: none;
  border: none;
  font-size: 14px;
  background-image: none;
  background: $color-title;
  transition-duration: 0.3s;
  color: #fff;
  font-family: $font-sans;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  font-weight: 800;
  line-height: 1;
  cursor: pointer;

  @include media(msp) {
    width: 100%;
  }

  &:hover {
    background-color: $color-style;
  }
}
