.dragCursor {
  position: fixed;
  z-index: 99;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  //background-image: url(../images/scroll@active.svg);
  //background-repeat: no-repeat;
  //background-size: contain;
  //background-position: center;
  pointer-events: none;
  display: none;
  //visibility: hidden;
  transform: translate(-50%, -50%);

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.dragCursor__circle,
.dragCursor__leftArrow,
.dragCursor__rightArrow {
  transform-origin: center;
  transition-duration: 0.7s;
}

