.dropdown {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
  overflow: hidden;

  &--active {
    .dropdown__title {
      color: $color-style;

      &::after {
        transform: translateY(-50%) rotate(-180deg);
      }
    }
    .dropdown__items {
      visibility: visible;
      pointer-events: auto;
    }
  }
}

.dropdown__title {
  display: flex;
  align-items: center;
  font-family: $font-sans;
  font-weight: 800;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 23px 55px 23px 30px;
  min-height: 70px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition-duration: 0.3s;
  background-color: $color-bg;

  @include media(mtp) {

  }

  &:hover {
    color: $color-style;
  }

  &::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 8px;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    background-image: $icon-dd;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition-duration: 0.3s;
  }

}

.dropdown__items {
  @include list-reset;
  padding: 0 30px 40px;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  z-index: 0;
  width: 100%;
  box-sizing: border-box;
}

.dropdown__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.dropdown__link {
  display: block;
  color: inherit;
  text-decoration-color: inherit;
  line-height: 1.2;

  &--active {
    color: $color-style;
    text-decoration: none;
  }
}

.dropdown__source {
  display: block;
  font-weight: 700;
  color: #3b3b3b;
}
