.errPage {
  text-align: center;
}

.errPage__inner {}

.errPage__title {
  font-size: 46px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  margin-bottom: 30px;

  @include media(msl) {
    font-size: 36px;
  }

  @include media(msp) {
    font-size: 26px;
  }

  strong {
    display: block;
    color: $color-style;
  }
}

.errPage__body {
  font-size: 18px;
  color: #949494;
  margin-bottom: 36px;

  @include media(msl) {
    font-size: 16px;
  }

  @include media(msp) {
    font-size: 14px;
  }
}

.errPage__button {
  padding: 2.25em 4.9em;

  @include media(msl) {
    padding: 1.35em 1.6em;
  }
}

