.events {

  @include media(msl) {
    margin-bottom: 69px;
  }
}

.events__items {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: -10px;
  margin-right: -10px;

  @include media(msp) {
    margin-left: 0;
    margin-right: 0;
  }

  &::before {
    position: absolute;
    top: 1px;
    bottom: 0;
    left: -11px;
    width: 1px;
    background-color: #de9595;

    @include media(msp) {
      content: '';
    }
  }
}

.events__item {
  width: 25%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 55px;
  position: relative;

  @include media(mtp) {
    width: 50%;
  }

  @include media(msp) {
    width: 100%;
    margin-bottom: 35px;
    padding-left: 0;
    padding-right: 0;
  }

  &::before {
    position: absolute;
    top: 11px;
    left: -13px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $color-style;

    @include media(msp) {
      content: '';
    }
  }
}

.events__card {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.events__image {
  margin-bottom: 8px;
  transition-duration: 0.4s;
  position: relative;

  @include media(msp) {
    display: none;
  }

  &:hover {
    opacity: 0.7;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $color-style;
  }
}

.events__date {
  line-height: 1;
  margin-bottom: 13px;
  font-size: 10px;
  font-family: $font-sans;
  letter-spacing: 0.05em;
  color: $color-style;
  font-weight: 800;

  @include media(msp) {
    margin-bottom: 6px;
  }
}

.events__title {
  color: $color-title;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 16px;
  transition-duration: 0.4s;

  @include media(msp) {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 5px;
  }

  &:hover {
    color: $color-style;
  }
}
