@mixin filterButton {
  display: block;
  width: 100%;
  min-width: 140px;
  padding: 13px 30px;
  appearance: none;
  background: none;
  border-left: 1px solid $color-border;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  border-right: none;
  font-family: $font-sans;
  color: #000;
  line-height: 1;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.3s;
  position: relative;
  z-index: 6;
  outline: none;

  @include media(msl) {
    padding: 20px 30px;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 8;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border: 1px solid $color-style;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.3s;
  }

  &:hover,
  &.-active {
    color: $color-style;
    border-color: transparent;
    z-index: 9;

    &::after {
      opacity: 1;
    }
  }
}
@mixin filterDrop {
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  right: 0;
  z-index: 5;
  box-shadow: $shadow-filter;

  transition-duration: 0.4s;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-30px);

  @include media(msl) {
    //right: 1px;
  }

  &.-active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}

.filter {
  display: flex;
  position: relative;

  &--events {
    .filter__sortList {
      left: auto;
      width: 280px;

      @include media(msp) {
        left: 0;
        width: auto;
      }
    }

    .filter__sort {
      @include media(msl) {
        width: auto;
      }

      @include media(msp) {
        width: 100%;
      }
    }

    .filter__sortCurrent {

      &::after {
        right: 0;
      }
    }
  }
}

.filter__sort {
  @include media(msl) {
    width: 50%;
  }
}

.filter__sortCurrent {
  @include filterButton;
}

.filter__sortList {
  @include filterDrop;
}

.filter__sortButton {
  display: block;
  font-family: $font-sans;
  color: #000;
  line-height: 1;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid $color-border;
  //border-right: none;
  padding: 11px 32px;
  background-color: $color-bg;
  margin-bottom: -1px;
  transition-duration: 0.3s;

  &:hover,
  &--active {
    color: $color-style;
  }
}

.filter__sortInfo {
  display: block;
  font-size: 12px;
  line-height: 1;
  color: #aaa;
  margin-bottom: 2px;
}

.filter__date {
  @include media(msl) {
    width: 50%;
  }
}

.filter__dateCurrent {
  @include filterButton;

  &::after {
    right: 0;
    left: -2px;
  }
}

.filter__dateList {
  @include filterDrop;
  border: 1px solid $color-border;
}

