.foldSocials {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  &--active {
    .foldSocials__item {
      &:nth-child(n) {
        transform: translateX(0) !important;
        visibility: visible;
        opacity: 1;
      }

      &--main svg {
        fill: $color-style;
      }
    }
  }
}

.foldSocials__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  appearance: none;
  width: 29px;
  height: 29px;
  box-sizing: border-box;
  box-shadow: 0 4px 10px rgba(#000, 0.07);
  background-color: #fff;
  border: none;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  outline: none;
  padding: 0;

  transition-duration: 0.5s;
  visibility: hidden;
  opacity: 0;

  @for $i from 1 through 5 {
    $index: $i + 1;
    $x: $i * 10;
    $rot: $i * 30;
    &:nth-child(#{$index}) {
      transform: translateX(calc(100% + #{$x}px)) rotate(#{$rot}deg);
    }
  }


  @include media(msp) {
    width: 22px;
    height: 22px;
    margin: 0 3px;
  }

  &:hover {
    svg {
      fill: $color-style;
    }
  }

  svg {
    fill: #000;
    transition-duration: 0.3s;

    @include media(msp) {
      max-width: 13px;
    }
  }
}

.foldSocials__item--main {
  position: relative;
  z-index: 1;
  visibility: visible;
  opacity: 1;
}

.foldSocials__item--fb {
}

.foldSocials__item--vk {
}

.foldSocials__item--tg {
}


@at-root .aboutAside:not(.aboutAside--reverse) .aboutAside__item:nth-child(2n),
.aboutAside--reverse .aboutAside__item:nth-child(2n-1) {
  .foldSocials {
    flex-direction: row;
  }

  .foldSocials__item {

    @for $i from 1 through 5 {
      $index: $i + 1;
      $x: $i * 10;
      $rot: $i * 30;
      &:nth-child(#{$index}) {
        transform: translateX(calc(-100% - #{$x}px)) rotate(-#{$rot}deg);
      }
    }

  }
}
