.form {
  &.invalid {
    .form__label {
      //animation-duration: 0s;
    }
  }
}

.form__row {
  display: flex;
  flex-wrap: wrap;
}

.form__item {
  display: block;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  &--2col {
    width: 50%;

    &:nth-child(n + 2) {
      border-left: 1px solid $color-border;
    }
  }

  &--inputFilled,
  &--focused {
    .form__label {
      animation-duration: 0.4s;
      animation-name: formLabelIn;
      animation-direction: normal;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
    }
    .wpcf7-not-valid-tip {
      visibility: hidden;
      opacity: 0;
      transition-delay: 0s;
    }

  }

}

.form__label {
  --font-size-normal: 16px;
  --font-size-focused: 12px;

  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #4b4b4b;
  pointer-events: none;
  font-size: var(--font-size-normal);
  font-family: $font-sans;

  animation-duration: 0.4s;
  animation-name: formLabelOut;
  animation-fill-mode: backwards;
  animation-direction: reverse;
  animation-iteration-count: 1;

  @include media(msl) {
    left: 10px;
    --font-size-normal: 12px;
  }

}

.form__input {
  display: block;
  width: 100%;
  border: none;
  border-top: 1px solid $color-border;
  font-size: 16px;
  font-family: $font-sans;
  font-weight: 700;
  line-height: 1;
  padding: 33px 20px 11px;
  box-sizing: border-box;
  outline: none;
  border-radius: 0;
  box-shadow: none;
  appearance: none;

  @include media(msl) {
    font-size: 12px;
    padding: 30px 10px 10px;
  }

  &::placeholder {
    color: #4b4b4b;
  }

  &.wpcf7-not-valid {
    &::after {
      content: '';
      position: absolute;

    }
  }
}

.form__submit {
  display: block;
  width: 100%;
  border: none;
  background-color: #000;
  color: #fff;
  font-family: $font-sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  padding: 22px 20px;
  cursor: pointer;
  transition-duration: 0.4s;

  @include media(msl) {
    font-size: 14px;
    padding: 20px 10px;
  }

  &:hover {
    background-color: $color-style;
  }
}

.form__policy {
  font-family: $font-sans;
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
  padding-left: 35px;
  padding-right: 35px;
  //letter-spacing: 0.06em;

  @include media(msl) {
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }

  a {
    color: inherit;
    text-decoration-color: currentColor;

    &:hover {
      text-decoration: none;
    }
  }
}

.form__error {
  text-align: center;
  font-family: $font-sans;
  font-size: 14px;
  margin-top: 15px;
  padding-left: 35px;
  padding-right: 35px;
  color: $color-error;
  //letter-spacing: 0.06em;

  @include media(msl) {
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }

  a {
    color: inherit;
    text-decoration-color: currentColor;

    &:hover {
      text-decoration: none;
    }
  }
}

.wpcf7-not-valid-tip {
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-sizing: border-box;
  color: $color-text-err;
  pointer-events: none;
  font-size: 16px;
  font-family: $font-sans;
  z-index: 2;
  background-color: #fff;
  transition-delay: 0.4s;
  opacity: 1;
  border: 1px solid $color-style;
}

.wpcf7-response-output {
  margin: 2em 0.5em 1em;
  padding: 0.2em 1em;
  border: 2px solid #ff0000;

  border: none;
  margin: 15px 0 0;
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
  font-family: $font-sans;

  @include media(msl) {
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


div.wpcf7-validation-errors {
  border: 2px solid #f7e700;

  border: none;
  color: $color-style;
}
