.frontTabsContent {
  transition-duration: 0.4s;

  @include media(msl) {
    display: inline-flex;
    width: 100%;
  }
}
.frontTabsContent__item {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  height: 0;
  width: 100%;

  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;

  @include media(msl) {
    overflow: hidden;
  }

  &[hidden] {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    display: block;
  }

  &.-active {
    display: block;
    visibility: visible;
    opacity: 1;
    height: auto;
    overflow: visible;

    @include media(msl) {
      position: relative;
    }
  }

  &.animInToLeft {
    animation-name: animInToLeft;
    position: absolute;

    @include media(msl) {
      position: relative;
    }
  }

  &.animOutToLeft {
    animation-name: animOutToLeft;
    position: absolute;
  }

  &.animInToRight {
    animation-name: animInToRight;
    position: absolute;

    @include media(msl) {
      position: relative;
    }
  }

  &.animOutToRight {
    animation-name: animOutToRight;
    position: absolute;
  }

}
