$scale-ratio: 1.429;

.frontTabsContentApplicants {
}

.frontTabsContentApplicants__scrollRow {
  padding-left: 35px;
  padding-right: 35px;
  margin-right: -30px;
  margin-left: 0;
  position: relative;

  @include media(msl) {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 0;
    overflow: visible;
  }

  @include fade-right;
  @include fade-left;

  &::before {
    opacity: 0;
  }

  &.-hideLeft {
    &::before {
      opacity: 1;
    }
  }
}

.frontTabsContentApplicants__scrollInner {}

.frontTabsContentApplicants__items {
  @include list-reset;
  display: inline-flex;
  position: relative;

  @include media(msl) {
    display: block;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 140px * $scale-ratio;
    pointer-events: none;
    height: 1px;
    background-color: #e29999;

    @include media(msl) {
      top: 0;
      left: -10px;
      bottom: 0;
      width: 1px;
      height: auto;
      right: unset;
      z-index: 2;
      background-color: #de9595;
    }
  }
}

.frontTabsContentApplicants__item {
  //margin-right: 40px;
  //width: 210px;
  pointer-events: none;
  width: 210px * $scale-ratio;
  margin-right: 40px * $scale-ratio;

  @media (min-width: $mtp) {
    &:nth-child(2n) {
      .frontTabsContentApplicants__card {
        flex-direction: column-reverse;
      }

      .frontTabsContentApplicants__image {
        margin-top: 1px;
        margin-bottom: 0;

        &::before {
          top: 0;
          transform: translate(-50%, -50%);
        }
      }

      .frontTabsContentApplicants__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }

      .frontTabsContentApplicants__dateAndSource {
        order: 9;
        //margin-bottom: 12px;
        margin-bottom: 0;
      }

    }
  }

  @include media(msl) {
    width: auto;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $color-style;
      top: 17px;
      left: -10px;
      transform: translate(-50%, -50%);
      z-index: 2;
    }

    .frontTabsContentApplicants__card {
      display: block;
    }
  }

  &:last-child {
    margin-right: 45px;

    .frontTabsContentApplicants__image::after {
      content: '';
      position: absolute;
      top: 0;
      right: -45px;
      transform: translate(50%, -50%);
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $color-style;
    }

    &:nth-child(2n - 1) {
      .frontTabsContentApplicants__image::after {
        top: unset;
        bottom: 0;
        transform: translate(50%, 50%);
      }
    }

  }

}

.frontTabsContentApplicants__card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;

  &:hover {
    //.frontTabsContentApplicants__image {
    //  opacity: 0.7;
    //}
    //
    .frontTabsContentApplicants__title {
      color: $color-style;
    }
  }
}

.frontTabsContentApplicants__image {
  margin-bottom: 1px;
  position: relative;
  //height: 140px;
  height: 140px * $scale-ratio;
  transition-duration: 0.3s;
  pointer-events: auto;

  @media (min-width: $msd) {
  }

  @include media(msl) {
    display: none;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $color-style;
  }

  &:hover {
    opacity: 0.7;
  }

  img {
    transition-duration: 0.4s;
  }
}

.frontTabsContentApplicants__content {
  //height: 140px;
  //padding-top: 14px;
  //padding-bottom: 14px;
  box-sizing: border-box;
  //overflow: hidden;

  height: 140px * $scale-ratio;
  padding-top: 14px * $scale-ratio;
  padding-bottom: 14px * $scale-ratio;

  @media (min-width: $msd) {

  }

  @include media(msl) {
    height: auto;
  }
}

.frontTabsContentApplicants__dateAndSource {
  display: flex;
  align-items: center;
  font-family: $font-sans;
  font-weight: 800;
  text-transform: uppercase;
  //font-size: 9px;
  line-height: 1;
  //margin-bottom: 7px;
  letter-spacing: 0.1em;

  font-size: 9px * $scale-ratio;
  margin-bottom: 7px * $scale-ratio;

  @media (min-width: $msd) {

  }
}

.frontTabsContentApplicants__date {
  color: $color-style;

  &::after {
    content: '|';
    color: #c2c2c2;
    margin-right: 0.3em;
    margin-left: 0.5em;
  }
}

.frontTabsContentApplicants__source {
  color: #c2c2c2;
}

.frontTabsContentApplicants__title {
  flex-shrink: 0;
  font-size: 16px;
  line-height: 1.2em;
  margin-top: 0;
  margin-bottom: 5px;
  transition-duration: 0.3s;
  pointer-events: auto;

  @media (min-width: $msd) {
    //font-size: 16px * $scale-ratio;
    //margin-bottom: 5px * $scale-ratio;
  }

  @include media(msl) {
    font-size: 14px;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $color-style;
    }
  }
}

.frontTabsContentApplicants__author {
  font-size: 14px;
  margin-bottom: 7px;
  pointer-events: none;

  @media (min-width: $msd) {
    //font-size: 14px * $scale-ratio;
    //margin-bottom: 7px * $scale-ratio;
  }
}

.frontTabsContentApplicants__btnWrp {
  text-align: center;
}

.frontTabsContentApplicants__button {}

.frontTabsContentApplicants__moreInRow {
  border: none;
  background-color: transparent;
  white-space: nowrap;

  @include media(msl) {
    display: none;
  }

  .button {
    border-color: transparent;
    background-color: transparent;
  }
}

