.frontTabsContentProject {
  @include media(msl) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.frontTabsContentProject__body {
  font-size: 26px;
  line-height: 1.4em;
  margin-bottom: 50px;
  max-width: 38em;

  @include media(msd-2) {
    font-size: 20px;
  }

  @include media(msl) {
    font-size: 14px;
    margin-bottom: 20px;
  }

  &::after {
    //content: url(../images/arrow-long.svg);
    //display: inline-block;
    //margin-left: 0.4em;
    //transform: translateY(-5px);
  }
}

.frontTabsContentProject__link {
  display: inline-block;
  width: 48px;
  height: 28px;
  background-image: url(../images/arrow-long.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 0.4em;
  transform: translateY(2px);
  vertical-align: top;
  transition-duration: 0.3s;

  &:hover {
    transform: translate(7px, 2px);
  }
}

.frontTabsContentProject__staff {
  display: flex;
  flex-wrap: wrap;
}

.frontTabsContentProject__staffGallery {
  margin-right: 90px;
  margin-bottom: 30px;
  text-decoration: none;
  color: inherit;

  @include media(mtl) {
    margin-right: 50px;
  }

  @include media(mtp) {
    margin-right: 60px;
  }

  @include media(msl) {
    margin-right: 0;
  }

  &:hover {
    .frontTabsContentProject__subtitle {
      color: $color-style;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.frontTabsContentProject__subtitle {
  font-weight: 700;
  font-size: 18px;
  //line-height: 132%;
  text-decoration-line: underline;
  margin-bottom: 25px;
  transition-duration: 0.3s;

  @include media(msl) {
    font-size: 14px;
  }
}

.frontTabsContentProject__items {
  display: flex;
  flex-wrap: wrap;
}

.frontTabsContentProject__item {
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
  box-shadow: $shadow-team;
  background-image: url(../images/img-bg.svg);
  background-color: $color-bg;
  background-size: cover;
  background-position: center;
  width: 73px;
  height: 97px;

  @include media(mtp) {
    margin-right: 20px;
    width: 70px;
  }

  @include media(msl) {
    width: 74px;
    margin-right: 10px;
  }

  &:last-child {
    margin-right: 0;
  }

  &--text {
    box-shadow: none;
    font-size: 20px;
    line-height: 1;
    font-family: $font-sans;
    font-weight: 800;
    display: flex;
    align-items: center;
    background: none;

    @include media(mtp) {
      width: auto;
    }
  }
}

