.frontTabsContentLaureates {
}

.frontTabsContentLaureates__scrollRow {

  @include fade-right;
  @include fade-left;

  &::before {
    opacity: 0;
  }

  &.-hideLeft {
    &::before {
      opacity: 1;
    }
  }
}

.frontTabsContentLaureates__scrollInner {
  display: inline-block;

  @include media(msl) {
    display: block;
  }
}

.frontTabsContentLaureates__items {
  display: flex;
  padding: 0 200px 60px 45px;

  @include media(mtp) {
    padding-left: 0;
    padding-right: 200px;
  }

  @include media(msl) {
    display: block;
    padding-right: 0;
  }
}

.frontTabsContentLaureates__item {
  width: 280px;
  margin-right: 140px;
  position: relative;

  @include media(mtp) {
    width: 280px;
  }

  @include media(msl) {
    margin-bottom: 40px;
    margin-right: 0;
    width: 320px;

    &:nth-child(2n) {
      margin-left: auto;
      margin-right: 0;

      .frontTabsContentLaureates__image {
        margin-left: auto;
      }

      .frontTabsContentLaureates__content {
        right: auto;
        left: 0;
        text-align: right;
      }

      .frontTabsContentLaureates__readmore {
        text-align: right;
        margin-right: 10px;
      }
    }
  }

  @include media(msp) {
    width: 100%;
  }

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  &--imgHovered {
    .frontTabsContentLaureates__image {
      border-color: $color-style;
    }

    .frontTabsContentLaureates__readmore {
      color: $color-style;
    }
  }

}

.frontTabsContentLaureates__image {
  border: 1px solid #ccc;
  width: 250px;
  box-sizing: border-box;
  padding: 27px 25px 35px;
  transition-duration: 0.4s;
  display: block;
  position: relative;

  @include media(msp) {
    width: 230px;
  }

  a {
    display: block;
  }

  //&:hover {
  //  border-color: $color-style;
  //}
}

.frontTabsContentLaureates__dots {
  display: flex;
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}

.frontTabsContentLaureates__dot {
  display: block;
  width: 7px;
  height: 7px;
  cursor: pointer;
  background-color: $color-style;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3.5px solid #eaeaea;
  appearance: none;
  margin: 2.5px;
  position: relative;
  outline: none;
  padding: 0;
  //transition-duration: 0.3s;

  &::before {
    content: '';
    position: absolute;
    top: -2.5px;
    right: -2.5px;
    bottom: -2.5px;
    left: -2.5px;
  }

  &:hover {
    border-color: #b3b3b3;
  }

  &.tns-nav-active {
    border-width: 1.5px;
  }
}

.frontTabsContentLaureates__content {
  position: absolute;
  z-index: 1;
  right: -100px;
  top: 52%;
  background-color: #ffffff;
  padding: 24px 20px 20px;
  box-sizing: border-box;
  width: 205px;
  min-height: 200px;

  @include media(mtp) {
    right: -15px;
    padding: 17px 16px 18px;
    width: 150px;
    height: 190px;
  }

  @include media(msl) {
    top: 61%;
    right: 0;
    width: 150px;
    height: 150px;
    min-height: 150px;
  }
}

.frontTabsContentLaureates__label {
  position: absolute;
  bottom: calc(100% - 20px);
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 20px 20px 0;
  font-weight: 700;

  @include media(mtp) {
    padding: 17px 16px 0;
    font-size: 12px;
    bottom: calc(100% - 10px);
  }
}

.frontTabsContentLaureates__name {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 7px;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;

  @include media(mtp) {
    font-size: 20px;
  }

  &--anim {
    animation-name: laureates-name;
  }
}

.frontTabsContentLaureates__title {
  line-height: 1.3em;
  margin-bottom: 0;
  color: inherit;
  text-decoration: underline;
  transition-duration: 0.3s;

  @include media(mtp) {
    font-size: 12px;
  }

  &:hover {
    text-decoration: none;
    color: $color-style;
  }
}

.frontTabsContentLaureates__source {
  color: #3b3b3b;
  font-weight: 700;
  margin-top: -2px;

  @include media(mtp) {
    font-size: 12px;
  }
}

.frontTabsContentLaureates__readmore {
  display: block;
  font-family: $font-sans;
  font-size: 11px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  transition-duration: 0.3s;
  margin-top: 10px;
  position: relative;
  z-index: 1;

  @include media(msl) {
    margin-left: 10px;
  }

  &:hover {
    color: $color-style;
  }
}

.frontTabsContentLaureates__btnWrp {
  text-align: center;
  margin-top: -46px;

  @include media(msl) {
    margin-top: 20px;
  }
}

.frontTabsContentLaureates__button {}

