.frontTabsContentProjectNews {
  display: flex;
  margin-left: -30px;
  margin-right: -30px;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;

  @include media(msl) {
    display: block;
    margin-left: 0;
    margin-right: 0;
    border-bottom: none;
  }
}

.frontTabsContentProjectNews__image {
  width: 54.3%;
  max-width: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 1s;

  @include media(mtl) {
    width: 50%;
  }

  @include media(mtl) {
    width: auto;
  }

  @include media(msp) {
    //margin-left: -10px;
    //margin-right: -10px;
  }

  &:hover {
    opacity: 0.7;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right center;
  }

}

.frontTabsContentProjectNews__main {
  width: 45.7%;
  box-sizing: border-box;
  padding: 34px 70px 45px 47px;

  @include media(mtl) {
    width: 50%;
    padding: 30px 50px 40px 37px;
  }

  @include media(msl) {
    width: 100%;
    padding: 25px 30px 30px;
  }

  @include media(msp) {
    padding: 30px 10px 40px;
  }
}

.frontTabsContentProjectNews__date {
  display: block;
  font-family: $font-sans;
  color: #ccc;
  font-size: 22px;
  line-height: 1;
  margin-bottom: 7px;
  font-weight: 700;

  @include media(mtp) {
    font-size: 18px;
  }

  @include media(msl) {
    font-size: 16px;
  }
}

.frontTabsContentProjectNews__title {
  font-size: 46px;
  margin-top: 0;
  margin-bottom: 27px;
  line-height: 1.1;

  @include media(mtl) {
    font-size: 36px;
  }

  @include media(mtp) {
    font-size: 28px;
  }

  @include media(msl) {
    //font-size: 32px;
    font-size: 27px;
  }

  a {
    color: inherit;
    text-decoration: none;
    transition-duration: 0.3s;

    &:hover {
      color: $color-style;
    }
  }
}

.frontTabsContentProjectNews__more {
  font-family: $font-sans;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 800;
  color: inherit;
  text-decoration: none;
  transition-duration: 0.3s;

  @include media(mtp) {
    font-size: 12px;
  }

  @include media(msl) {
    font-size: 14px;
  }

  &:hover {
    color: $color-style;
  }
}
