.frontTabsNav {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @include media(msd-2) {
    justify-content: flex-start;
  }

  @include media(msl) {
    display: inline-flex;
    flex-wrap: nowrap;
  }
}

.frontTabsNav__item {
  width: 260px;
  margin-right: 60px;
  font-size: 36px;

  &:nth-child(3) {
    width: 280px;
  }

  @include media(msd-2) {
    width: 200px;
    margin-right: 45px;
    margin-left: 0;
    font-size: 26px;
  }

  @include media(mtl) {
    width: 180px;
    margin-right: 41px;

    &:nth-child(2) {
      width: 185px;
    }

    &:nth-child(3) {
      width: 200px;
    }

  }

  @include media(mtp) {
    width: 120px;
    font-size: 18px;
    margin-right: 40px;

    &:nth-child(3) {
      width: 161px;
    }
  }

  @include media(msl) {
    width: 130px;
    margin-right: 35px;
  }

  &:nth-child(2) {
    width: 6.6em;
  }



  &:last-child,
  &:nth-last-child(2) {
    margin-right: 0;
  }

}

.frontTabsNav__button {
  appearance: none;
  border: none;
  background: none;
  display: block;
  padding: 0 0 20px;
  color: #ccc;
  font-weight: 700;
  line-height: 1.03;
  text-align: left;
  position: relative;
  outline: none;
  user-select: none;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    &::after {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &.-active {
    color: $color-text;
    pointer-events: none;

    &::after {
      opacity: 0;
      transition-duration: 0s;
    }
  }


  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateX(-3px);
    color: #000;
    transition-duration: 0.5s;
  }
}

.frontTabsNav__count {
  //position: absolute;
  //top: 0;
  //right: 10px;
  //width: 21px;
  //height: 21px;
  padding: 2px 4px 0;
  box-sizing: border-box;
  color: $color-style;
  border-radius: 7px;
  border: 2px solid rgba(194, 0, 0, 0.2);
  font-family: $font-sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-6px);
  margin-left: 4px;

  @include media(msd-2) {
    transform: translateY(-3px);
    //top: -4px;
    //right: -12px;
  }

  @include media(mtp) {
    transform: translateY(-1px);
  }

  @include media(msl) {
    //width: 19px;
    //height: 19px;
  }
}

.frontTabsNav__line {
  position: absolute;
  height: 4px;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: $color-style;
  //transition-timing-function: ease-out;
  transition-timing-function: cubic-bezier(0.12, 0.51, 0.59, 1.07);
}
