.frontTabsLayout {}

.frontTabsLayout__inner {

}

.frontTabsLayout__nav {
  @include fade-right;

  @include media(msl) {
    overflow: hidden;
  }

  &::after {
    content: none;

    @include media(msl) {
      content: '';
      right: -30px;
      bottom: unset;
      height: 56px;
      width: 150px;
    }
  }



}

.frontTabsLayout__navInner {
  margin-bottom: 60px;

  @include media(mtl) {
    margin-bottom: 35px;
  }

  @include media(msl) {
    overflow-x: auto;
    padding-right: 50px;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.frontTabsLayout__content {
  position: relative;

  @include media(msl) {
    margin-left: -11px;
    margin-right: -11px;
  }
}

