.gallery {
  margin-top: 65px;
  margin-bottom: 65px;

  @include media(msl) {
    @include fade-right;

    margin-top: 27px;
    margin-bottom: 27px;
    margin-right: -10px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      pointer-events: none;
      top: 0;
      right: 0;
      bottom: 0;
      left: -10px;
      border-top: 1px solid $color-border;
      border-bottom: 1px solid $color-border;
    }

    &::after {
      content: '';

      width: 25px;
      right: 0;
      top: 1px;
      bottom: 1px;
      background-image: linear-gradient(270deg, rgba($color-bg, 0.8) 20.05%,rgba(255,255,255,.001) 99.64%);
    }
  }
}

.gallery__inner {

  @include media(msl) {
    overflow-x: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
  }

}

.gallery__main {
  position: relative;
  margin-bottom: 40px;

  @include media(msl) {
    display: none;
  }

  &::before {
    $offset: -10px;

    content: '';
    position: absolute;
    top: $offset;
    right: $offset;
    bottom: $offset;
    left: $offset;
    pointer-events: none;
    border: 1px solid #b5b5b5;
  }
}

.gallery__list {
  @include list-reset;

  display: flex;
  align-items: center;

  @include media(msl) {
    display: inline-flex;
  }
}

.gallery__item {
  width: 90px;
  margin-right: 20px;
  box-sizing: border-box;
  border: 1px solid transparent;

  @include media(msl) {
    margin-right: 10px;
  }

  &:hover {
    border-color: $color-style;
  }

  &:nth-child(n + 6) {
    display: none;
  }

  &:first-child {
    border-color: $color-style;
  }

  &:last-child {
    display: block;
    margin-right: 0;
  }

  &--counter {
    @include media(msl) {
      margin-left: 4px;
    }

    &:hover {
      border-color: transparent;

      .gallery__counter::after {
        border-color: $color-style;
      }
    }
  }

  a {
    display: block;
    cursor: pointer;
  }


}

.gallery__counter {
  display: block;
  text-align: center;
  font-family: $font-sans;
  line-height: 1;
  letter-spacing: 0.1em;
  color: inherit;
  text-decoration: none;
  position: relative;

  &::after {
    $offset: -9px;

    content: '';
    position: absolute;
    top: $offset;
    right: $offset;
    bottom: $offset;
    left: $offset;
    border: 1px solid #bfbfbf;
  }

}

.gallery__total {
  font-weight: 800;

  &::after {
    content: '';
    display: block;
    width: 70px;
    height: 1px;
    margin: 10px auto 7px;
    background-color: $color-style;
  }
}

.gallery__text {
  font-size: 12px;
}

