.headerActions {
  display: flex;
  align-items: center;
  position: relative;
}

.headerActions__item {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 20px;

  &:hover {
    svg {
      fill: $color-style;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  svg {
    display: block;
    width: 100%;
    transition-duration: 0.3s;
  }

}

.headerActions__item--user {
  position: relative;
  top: 10px;
  width: auto;
  height: auto;
  margin-left: 15px;
  margin-right: 17px;
}

.headerActions__item--login {
  //background-image: url(../images/login.svg);
}

.headerActions__item--search {
  align-self: flex-end;
  transform: translateY(-3px);
  //background-image: url(../images/search.svg);
  width: 17px;
  height: 17px;
}

