.interviewAside {
  @include media(msl) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid $color-border;
  }
}

.interviewAside__slider {
  margin-left: -30px;

  @include media(msl) {
    width: 100%;
    margin-left: 0;
  }

  .tns-inner {
    @include media(msl) {
      margin-right: 100px;
    }
  }
}

.interviewAside__slides {
  @include list-reset;
}

#tns1 {
}

.interviewAside__slide {

  @include media(msl) {
    padding-right: 20px;
  }

  .tns-horizontal.tns-subpixel>&.tns-item {
    @include media(msl) {
      display: inline-flex;
      align-items: center;
    }
  }

}

.interviewAside__image {
  position: relative;
  flex-shrink: 0;

  @include media(msl) {
    width: 60px;
    margin-right: 12px;
  }
}

.interviewAside__nameMob {
  display: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3em;

  @include media(msl) {
    display: block;
  }
}

.interviewAside__socials {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);

  @include media(msl) {
    display: none;
  }
}

.interviewAside__social {
  width: 29px;
  height: 29px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;

  &:hover {
    svg {
      fill: $color-style;
    }
  }

  svg {
    display: block;
    max-width: 80%;
  }
}

.interviewAside__dots {
  @include list-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;

  @include media(msl) {
    display: none;
  }
}

.interviewAside__dot {
  width: 12px;
  height: 12px;
  appearance: none;
  padding: 0;
  border: 6px solid #eaeaea;
  background-image: none;
  background-color: $color-style;
  display: block;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: none;
  margin-left: 5px;
  margin-right: 5px;
  box-sizing: border-box;
  transition-duration: 0.2s;
  outline: none;

  &:hover {
    border-width: 4px;
  }

  &.tns-nav-active {
    border-width: 2px;
  }
}

.interviewAside__content {
  width: 100%;
  display: inline-flex;
  position: relative;

  @include media(msl) {
    display: block;
    width: 100%;
  }
}

.interviewAside__cntItem {
  width: 100%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.1s;

  &.-active {
    opacity: 1;
    position: relative;
    visibility: visible;
    transition-delay: 0.1s;
  }
}

.interviewAside__name {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.3em;
  margin-top: 30px;
  margin-bottom: 25px;

  @include media(mtp) {
    font-size: 22px;
  }

  @include media(msl) {
    margin-top: 0;
    margin-bottom: 0;
    display: none;
  }

  &--anim {
    animation-name: laureates-name;
  }
}

.interviewAside__works {
  margin-left: -30px;
  margin-bottom: -1px;

  @include media(msl) {
    margin-left: 0;
    width: 100%;
    //display: none;
  }
}

