.interviewCards {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;

  @include media(msp) {
    display: block;
  }
}

.interviewCards__item {
  lost-column: 1/2 2 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 23px 18px 38px;
  transition-duration: 0.3s;

  @include media(mtp-only) {
    lost-column: 1/1;
  }

  @include media(msp) {
    lost-column: 1/1;
  }

  &:hover {
    border-color: $color-style;
  }
}

.interviewCards__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.interviewCards__date {
  display: block;
  margin-bottom: 20px;
}

.interviewCards__title {
  font-size: 14px;
  line-height: 1.22;
  margin-top: 0;
  margin-bottom: 16px;
}

.interviewCards__link {
  margin-top: auto;
  font-family: $font-sans;
  font-size: 10px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  transition-duration: 0.3s;

  &:hover {
    color: $color-style;
  }
}
