.lang {
  font-family: $font-sans;
  font-size: 10px;
  position: relative;
  top: 13px;
  text-align: center;

  @include media(mtl) {
    font-size: 16px;
    top: auto;
  }

  &:hover {
    z-index: 5;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.06);

    .lang__current {
      border-color: $color-border;
      background-color: #fff;
      transition-delay: 0s;

      span::after {
        transform: rotate(-180deg);
      }
    }

    .lang__other {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translateY(-1px);
      transition-delay: 0.2s;

      @include media(mtl) {
        transform: translateY(1px);
      }
    }

    .lang__item {
      pointer-events: auto;
    }
  }
}

.lang__current {
  font-weight: 800;
  font-size: 12px;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid transparent;
  letter-spacing: 0.1em;
  transition-duration: 0.2s;
  transition-delay: 0.2s;
  position: relative;
  z-index: 1;

  @include media(mtl) {
    font-size: 16px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 11.5px 15px;

    &::after {
      content: '';
      margin-top: -1px;
      margin-left: 9px;
      width: 8px;
      height: 8px;
      background-image: url(../images/arrow-dd.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transition-duration: 0.2s;
    }
  }
}

.lang__other {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid $color-border;
  background-color: $color-bg;
  box-sizing: border-box;

  transition-duration: 0.2s;
  transition-delay: 0s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-20px);

  @include media(mtl) {
    top: auto;
    bottom: 100%;
    transform: translateY(20px);

  }

  & .lang__item {
    border-bottom: 1px solid $color-border;

    &:last-child {
      border-bottom: none;
    }
  }
}

.lang__item {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 12px 15px;
  transition-duration: 0.2s;

  @include media(mtl) {
    pointer-events: none;
  }

  &:hover {
    color: $color-style;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    text-decoration: none;
    color: $color-style;
  }
}
