.laureates {

  @include media(msp) {
    width: calc(100vw - 20px);
  }

  &--innerPage {
    padding-bottom: 0;
    overflow: hidden;
    margin-right: -30px;

    @include media(msl) {
      margin-right: -11px;
      margin-left: -11px;
    }

    @include media(msp) {
      width: auto;
    }

    .laureates__items {
      padding-right: 0;
      transition-duration: 0.4s;

      @media (max-width: 1379px) {
        padding-left: 0;
      }

      @include media(mtl) {
        flex-wrap: wrap;
      }
    }

    .laureates__item {
      &:nth-child(4) {
        margin-right: 160px;
      }

      @media (max-width: 1500px) {
        width: 250px;
        margin-right: 140px;
      }

      @media (min-width: 1200px) and (max-width: 1379px) {
        width: 230px;
        margin-right: 115px;
      }

      @include media(mtl) {
        width: 260px;
        margin-right: 160px;
        margin-bottom: 30px;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }

      @include media(mtp) {
        width: 190px;
        margin-right: 130px;
      }

      @include media(msl) {
        margin-right: auto;

        &:nth-child(2n) {
          .laureates__content {
            margin-right: auto;
            margin-left: -90px;
          }
        }
      }

    }

    .laureates__image {
      @media (min-width: 1200px) and (max-width: 1379px) {
        width: 220px;
      }

      @include media(mtl) {
        width: 100%;
      }
    }

    .laureates__content {
      position: relative;
      top: auto;
      right: auto;
      margin-left: auto;
      margin-right: -100px;
      margin-top: -175px;
      height: auto;

      @media (min-width: 1200px) and (max-width: 1379px) {
        font-size: 14px;
        width: 190px;
        margin-right: -81px;
      }

      @include media(msl) {
        margin-right: -90px;
      }
    }

    .laureates__name {
      @media (max-width: 1379px) {
        font-size: 20px;
      }
    }

    .laureates__title {
    }

    .laureates__source {
    }

    .laureates__readmore {
      @media (min-width: 1200px) and (max-width: 1379px) {
        font-size: 9px;
      }

      @include media(mtp) {
        font-size: 9px;
      }
    }
  }

  &--flat {
    .laureates__items {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &.-hideRight {
    @include fade-right;
    //z-index: -1;
  }
  &.-hideLeft {
    @include fade-left;
    //z-index: -1;
  }
}

.laureates__items {
  @include list-reset;
  display: inline-flex;
  padding: 0 200px 60px 45px;

  @include media(mtp) {
    padding-left: 0;
    padding-right: 200px;
  }

  @include media(msl) {
    display: block;
    padding-right: 0;
  }
}

.laureates__item {
  width: 280px;
  margin-right: 160px;
  position: relative;

  @media (min-width: 1640px) {
    margin-right: 190px;
  }

  @include media(mtp) {
    width: 280px;
  }

  @include media(msl) {
    margin-bottom: 130px;
    margin-right: 0;
    width: 320px;

    &:nth-child(2n) {
      margin-left: auto;
      margin-right: 0;

      .laureates__image {
        margin-left: auto;
      }

      .laureates__content {
        right: auto;
        left: 1px;
        text-align: right;
      }

      .laureates__readmore {
        text-align: right;
        margin-right: 10px;
      }
    }
  }

  @include media(msp) {
    width: 100%;
    max-width: 320px;
  }

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  &--imgHovered {
    .laureates__image {
      border-color: $color-style;
    }

    .laureates__readmore {
      color: $color-style;
    }
  }

  &--fourth {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: -160px;
      bottom: 0;
      left: 0;
    }
  }

}

.laureates__image {
  border: 1px solid #ccc;
  width: 250px;
  box-sizing: border-box;
  padding: 27px 25px 35px;
  transition-duration: 0.4s;
  display: block;
  position: relative;

  @include media(msp) {
    width: 190px;
  }

  a {
    display: block;
  }

  //&:hover {
  //  border-color: $color-style;
  //}
}

.laureates__dots {
  display: flex;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 7px;
  transform: translateX(-50%);
}

.laureates__dot {
  display: block;
  width: 7px;
  height: 7px;
  cursor: pointer;
  background-color: $color-style;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3.5px solid #eaeaea;
  appearance: none;
  margin: 2.5px;
  position: relative;
  outline: none;
  padding: 0;
  //transition-duration: 0.3s;

  &::before {
    content: '';
    position: absolute;
    top: -2.5px;
    right: -2.5px;
    bottom: -2.5px;
    left: -2.5px;
  }

  &:hover {
    border-color: #b3b3b3;
  }

  &.tns-nav-active {
    border-width: 1.5px;
  }
}

.laureates__arrows {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
}

.laureates__arrow {
  width: 16px;
  height: 15px;
  background-image: url(../images/arrow.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  padding: 0;

  &--prev {
    transform: rotate(-180deg);
  }

  &[disabled] {
    filter: grayscale(100%);
    opacity: 0.4;
  }
}

.laureates__content {
  position: absolute;
  z-index: 1;
  right: -100px;
  top: 52%;
  background-color: $color-bg;
  padding: 24px 20px 20px;
  box-sizing: border-box;
  width: 205px;
  min-height: 200px;

  @include media(mtp) {
    right: -15px;
    padding: 17px 16px 18px;
    width: 150px;
    height: 190px;
  }

  @include media(msl) {
    top: 61%;
    right: 1px;
    width: 150px;
    height: 150px;
    min-height: 230px;
  }

  @include media(msp) {
    //margin-left: -90px;
  }
}

.laureates__label {
  position: absolute;
  bottom: calc(100% - 20px);
  left: 0;
  right: 0;
  background-color: $color-bg;
  padding: 20px 20px 0;
  font-weight: 700;

  @include media(mtp) {
    padding: 17px 16px 0;
    font-size: 12px;
    bottom: calc(100% - 10px);
  }
}

.laureates__name {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 5px;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;

  &:only-of-type {
    font-size: 28px;
    margin-bottom: 7px;

    @include media(mtp) {
      font-size: 20px;
    }
  }

  &--anim {
    animation-name: laureates-name;
  }
}

.laureates__title {
  line-height: 1.3em;
  margin-bottom: 0;
  color: inherit;
  text-decoration: underline;
  transition-duration: 0.3s;

  @include media(mtp) {
    font-size: 12px;
  }

  &:hover {
    text-decoration: none;
    color: $color-style;
  }
}

.laureates__source {
  color: #3b3b3b;
  font-weight: 700;
  margin-top: -2px;

  @include media(mtp) {
    font-size: 12px;
  }
}

.laureates__readmore {
  display: block;
  font-family: $font-sans;
  font-size: 11px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  transition-duration: 0.3s;
  margin-top: 10px;
  position: relative;
  z-index: 1;

  @include media(msl) {
    margin-left: 10px;
  }

  &:hover {
    color: $color-style;
  }
}

.laureates__btnWrp {
  text-align: center;
  margin-top: -46px;

  @include media(msl) {
    margin-top: -20px;
  }
}

.laureates__button {}

