.menu {
  @include list-reset;
  display: flex;

  @include media(mtl) {
    display: block;
    text-align: center;
  }

  @include media(msl) {
    font-size: 16px;
  }

  @include media(msp) {
    text-align: center;
  }
}

.menu__list {
  @include list-reset;
  display: flex;
  align-items: flex-end;

  @include media(mtl) {
    display: block;
  }
}

.menu__item {
  margin-right: 53px;
  transition-duration: 0.2s;

  @include media(mtl) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  &:hover {
    background-color: $color-bg;

    > .menu__link {
      background-color: #fff;
    }

    > .menu__subMenu {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &--parent {
    position: relative;
    z-index: 1;
    border-radius: 8px 8px 0 0;
  }

  &--opened {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -14px;
      bottom: -8px;
      left: -10px;
      right: -10px;
      background-color: #f5f5f5;
      pointer-events: none;
      transition-duration: 0.3s;
    }

    &:hover {
      & > .menu__link {
        background-color: transparent;
      }
    }


    & > .menu__link {
      color: inherit;

      &:hover {
        color: inherit;
      }

      &::after {
        transform: translateY(-50%) rotate(-180deg) ;
      }

    }
  }
}

.menu__link {
  text-decoration: none;
  line-height: 1;
  color: inherit;
  font-size: 12px;
  font-weight: 800;
  font-family: $font-sans;
  letter-spacing: 0.1em;
  transition-duration: 0.2s;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  text-transform: uppercase;

  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: both;

  @include media(mtl) {
    font-size: 14px;
  }

  &:hover {
    @include media(mtl) {
      color: $color-style;
    }

    &::before {
      max-width: 100%;
    }
  }

  &--parent {

    @include media(msp) {
      padding-right: 0;
    }

    &::after {
      content: '';
      position: absolute;
      top: calc(50% - 1px);
      left: calc(100% + 8px);
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      background-image: url(../images/arrow-dd.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &::before {
    background-color: $color-bg;
    content: attr(data-hover);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-bottom: 0.5em;
    max-width: 0;
    border-bottom: 2px solid $color-style;
    color: $color-style;
    transition: max-width 0.5s;
    white-space: nowrap;

    @include media(mtl) {
      display: none;
    }
  }
}

.menu__subMenu {
  @include list-reset;
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 0;
  right: 0;
  padding-top: 15px;
  border-radius: 0 8px 8px 8px;
  overflow: hidden;
  box-shadow: $shadow;

  visibility: hidden;
  transform: translateY(-20px);
  opacity: 0;
  transition-duration: 0.2s;

  @include media(mtl) {
    position: static;
    display: none;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
    transform: none;
  }

  @include media(msp) {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
  }

  &--opened {
    display: block;
  }

  .menu__item {
    margin-bottom: 0;
    background-color: transparent;

    &:hover {
      > .menu__link {
        background-color: transparent;
      }
    }
  }

  .menu__link {
    font-size: 12px;
    padding: 19px 0;
    background-color: transparent;
  }
}

