.mobMenu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
  box-sizing: border-box;
  background-color: rgba(#3d426d, 0.55);

  transition-duration: 0.4s;
  opacity: 0;
  visibility: hidden;

}

.mobMenu--opened {
  visibility: visible;
  opacity: 1;

  .mobMenu__inner {
    transform: translateX(0);

  }
}

.mobMenu__inner {
  width: 320px;
  padding: 10px 10px 10px;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 99;
  pointer-events: auto;
  box-sizing: border-box;
  background-color: $color-bg;
  overflow-y: auto;
  overflow-x: hidden;
  transform: translateX(-110%);
  transition-duration: 0.4s;

  @include media(msp) {
    width: 100%;
  }
}

.mobMenu__content {
  padding: 10px 10px 0;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid $color-border;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100% - 10px);

  @include media(msl) {

  }
}

.mobMenu__logoAndClose {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;

  @include media(mtl) {
    align-items: flex-start;
  }
}

.mobMenu__logo {
  width: 120px;
  padding-bottom: 10px;
}

.mobMenu__close {
  display: block;
  padding: 0;
  border: none;
  width: 26px;
  height: 26px;
  background-image: url(../images/closer.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  transition-duration: 0.2s;
  outline: none;

  @include media(msp) {
    width: 23px;
    height: 23px;
    background-image: url(../images/mob-menu@black.svg);
  }
}

.mobMenu__btnWrp {
  margin-right: -12px;
  margin-left: -10px;
}

.mobMenu__button {
  //position: absolute;
  width: 100%;
  display: block;
  margin-left: -10px;
  margin-bottom: -10px;
  left: 9px;
  right: 9px;
  bottom: 9px;
  padding: 2.25em 1.6em;
}

.mobMenu__line {
  &--2 {
    transition-duration: 0.4s;
  }
  &--3 {
    transition-duration: 0.2s;
  }
}

.mobMenu__menu {
  margin-bottom: 60px;
}

.mobMenu__landAndActions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 30px;

  @include media(msp) {
    margin-bottom: 35px;
  }
}

.mobMenu__lang {
  display: none;
  margin-right: 20px;

  @include media(mtl) {
    display: block;
  }
}


