$time: 0.2;
@mixin borderLine {
  content: '';
  position: absolute;
  background-color: $color-border;
  transition-duration: $time + s;
  transition-timing-function: linear;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  transition-duration: 0.3s;
  overflow: hidden;
  display: flex;

  opacity: 0;
  visibility: hidden;

  &--opened {
    opacity: 1;
    visibility: visible;
    overflow-y: auto;

    .modal__content {
      background-color: #fff;
      //transition-delay: 0.8s;
    }

    .modal__title,
    .modal__dscr {
      opacity: 1;
      transform: translateX(0);
      transition-delay: ($time * 4) + s;
    }

    .modal__form {
      transition-delay: ($time * 4) + s;
      opacity: 1;
      transform: translateX(0);
    }


    .modal__content::before {
      height: 100%;
      transition-delay: 0s;
    }

    .modal__content::after {
      width: 100%;
      transition-delay: ($time * 1) + s;
    }

    .modal__contentInner::before {
      height: 100%;
      transition-delay: ($time * 2) + s;
    }

    .modal__contentInner::after {
      width: 100%;
      transition-delay: ($time * 3) + s;
    }

  }

  &--login {
    .modal__title {
      margin-bottom: 44px;
    }
  }

  &--success {
    .modal__title {
      max-width: 8em;
      margin-bottom: 90px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.modal__inner {
  @include grid;
  width: 100%;
  margin: auto;
  padding: 30px 0;
  pointer-events: none;

  @include media(msp) {
    padding: 0;
    margin: 0;
  }
}

.modal__content {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: auto;

  width: 640px;
  box-shadow: $shadow-modal;
  box-sizing: border-box;
  padding: 52px 0 43px;
  background-color: transparent;
  transition-duration: ($time * 4) + s;

  @include media(msl) {
    margin-top: 20px;
    width: 320px;
  }

  @include media(msp) {
    max-width: calc(100vw - 20px);
  }

  &::before {
    @include borderLine;

    left: 0;
    bottom: 0;
    width: 1px;
    height: 0;
    z-index: 1;
    //transition-delay: ($time * 3) + s;
  }

  &::after {
    @include borderLine;

    left: 0;
    top: 0;
    right: 0;
    width: 0;
    height: 1px;
    z-index: 1;
    //transition-delay: ($time * 2) + s;
  }
}

.modal__contentInner {
  overflow: hidden;

  &::before {
    @include borderLine;

    right: 0;
    top: 0;
    width: 1px;
    height: 0;
    z-index: 1;
    //transition-delay: 0s;
  }

  &::after {
    @include borderLine;

    bottom: 0;
    right: 0;
    height: 1px;
    width: 0;
    z-index: 1;
    //transition-delay: 0s;
  }
}

.modal__form {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  //z-index: 2;
  //border-left: 1px solid $color-border;
  //border-right: 1px solid $color-border;

  transition-duration: ($time * 4) + s;
  opacity: 0;
  transform: translateX(50px);
}

.modal__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.04;
  text-align: center;
  margin-bottom: 10px;

  transition-duration: ($time * 4) + s;
  opacity: 0;
  transform: translateX(-50px);

  @include media(msl) {
    font-size: 26px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.modal__dscr {
  margin-bottom: 30px;
  text-align: center;
  color: $color-text;
  font-size: 14px;
  font-family: $font-sans;

  transition-duration: ($time * 4) + s;
  opacity: 0;
  transform: translateX(-50px);

  @include media(msl) {
    font-size: 12px;
    padding-left: 16px;
    padding-right: 16px;
  }

  a {
    color: inherit;
    text-decoration-color: currentColor;

    &:hover {
      text-decoration: none;
    }
  }
}

.modal__bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(#fff, 0.8);
  pointer-events: auto;
}

.modal__button {
  display: block;
  width: 100%;
  border: none;
  background-color: #000;
  color: #fff;
  font-family: $font-sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  padding: 22px 20px;
  cursor: pointer;
  transition-duration: 0.4s;

  @include media(msl) {
    font-size: 14px;
    padding: 20px 10px;
  }

  &:hover {
    background-color: $color-style;
  }
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 0;
  padding: 0;
  width: 26px;
  height: 26px;
  background-image: url(../images/closer.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  line-height: 1;
  font-size: 0;
  cursor: pointer;
  transition-duration: 0.2s;

  &:hover {
    transform: rotate(90deg);
  }
}


