.monthSeparation {
  width: 100%;
  margin-top: 20px;

  @include media(msp) {

  }
}

.monthSeparation__date {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-style;
  margin-bottom: 60px;
  position: relative;

  @include media(msp) {
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 30px;
    //margin-left: 0;
    //margin-right: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #e3e3e3;

    @include media(msp) {
      content: none;
    }
  }
}

.monthSeparation__month {
  font-size: 26px;
  line-height: 1;
  font-weight: 700;
  position: relative;
  z-index: 1;
  color: inherit;

  @include media(msp) {
    margin-right: 7px;
  }

  &::before {
    content: '';
    position: absolute;
    background-color: $color-bg;
    top: 0;
    right: -13px;
    bottom: 0;
    left: 0;
    z-index: -1;

    @include media(msp) {
      content: none;
    }
  }
}

.monthSeparation__year {
  position: relative;
  z-index: 1;

  @include media(msp) {
    font-size: 14px;
  }

  &::before {
    content: '';
    position: absolute;
    background-color: $color-bg;
    top: 0;
    right: 0;
    bottom: 0;
    left: -13px;
    z-index: -1;

    @include media(msp) {
      content: none;
    }
  }
}
