.otherArticles {
  margin-top: 38px;
  padding-top: 38px;
  border-top: 1px solid #efefef;
  max-width: 725px;
  margin-right: auto;
  margin-left: auto;

  @include media(msp) {
    padding-top: 12px;
  }
}

.otherArticles__items {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;

  @include media(msp) {
    display: block;
    max-width: 70%;
  }
}

.otherArticles__item {
  lost-column: 1/3 3 20px;

  @include media(msp) {
    lost-column: 1/1;
    margin-bottom: 15px;
  }
}

.otherArticles__card {
  display: block;
  color: inherit;
  text-decoration: none;

  &:hover {
    .otherArticles__title {
      color: $color-style;
    }
  }
}

.otherArticles__date {
  line-height: 1;
  letter-spacing: 0.1em;
  font-family: $font-sans;
  font-size: 8px;
  color: #808080;
  margin-bottom: 5px;
}

.otherArticles__title {
  transition-duration: 0.4s;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.2;
}

