.pager {
  @include list-reset;
  display: flex;
  justify-content: center;
  font-family: $font-sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  margin-bottom: 30px;

  @include media(msl) {
    margin-bottom: 15px;
  }


}

.pager__item {
}

.pager__link {
  display: block;
  min-width: 40px;
  min-height: 100%;
  box-sizing: border-box;
  padding: 13px 25px;
  border: 1px solid $color-border;
  margin-right: -1px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.1em;

  @include media(msl) {
    min-width: 48px;
    padding: 19px 51px;
  }

  &--prev {
    padding: 0;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
    transform: rotate(180deg);
    transition-duration: 0.3s;

    &:hover {
      background-position: calc(50% + 3px);
    }
  }
  &--next {
    padding: 0;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
    transition-duration: 0.3s;

    &:hover {
      background-position: calc(50% + 3px);
    }
  }
  &--disabled {
    background-image: url(../images/arrow@disabled.svg);
    pointer-events: none;
  }
  &--current {}
}


