.pageTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //margin-right: -30px;
  margin-bottom: 40px;

  @include media(msl) {
    display: block;
  }

  @include media(msp) {
    margin-bottom: 32px;
  }

  &--events {
    @include media(msl-only) {
      display: flex;
      align-items: center;
    }

    .pageTop__titleWrp {
      @include media(msl-only) {
        margin-bottom: 0;
      }
    }

    .pageTop__filter {
      @include media(msl-only) {
        margin-top: 0;
      }
    }
  }
}

.pageTop__titleWrp {
  display: flex;
  align-items: center;

  @include media(mtl) {
    display: block;
  }

  @include media(msl) {
    margin-bottom: 27px;
  }
}

.pageTop__title {
  margin-right: 15px;
}

.pageTop__info {
  display: flex;
  align-items: center;
  margin-right: auto;
  font-family: $font-sans;
  color: #ababab;
  font-size: 14px;
  line-height: 1;
  margin-top: 14px;

  @include media(mtp) {

  }
}

.pageTop__item {
  padding: 5px 20px;
  border-right: 1px solid #ececec;

  &:first-child {
    border-left: 1px solid #ececec;

    @include media(mtp) {
      border-left: none;
      padding-left: 0;
    }
  }
}

.pageTop__value {
  color: $color-style;
}

.pageTop__filter {
  margin-right: -31px;

  @include media(msl) {
    margin-top: 15px;
    margin-left: -11px;
    margin-right: -11px;
  }
}

