.rulesPreviews {
  text-align: right;
  padding-left: 60px;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  position: relative;

  @include fade-right;
  @include fade-left;

  &::before {
    opacity: 0;
  }

  &.-hideLeft::before {
    opacity: 1;
  }
}

.rulesPreviews__items {
  display: inline-flex;
  margin-bottom: 0;
  padding: 60px 100px 60px 0;
}

.rulesPreviews__item {
  min-width: 220px;
  margin-left: 20px;
  outline: none;
  cursor: pointer;
  pointer-events: none;

  &:hover {
    .rulesPreviews__title {
      color: $color-style;
    }
  }

  &:first-child {
    margin-left: 0;
  }

  &.tns-nav-active {
    .rulesPreviews__title {
      color: #a0a0a0;
    }
  }
}

.rulesPreviews__number {
  font-size: 10px;
  font-weight: 800;
  font-family: $font-sans;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $color-style;
  line-height: 1;
  margin-bottom: 15px;
}

.rulesPreviews__title {
  font-weight: 700;
  line-height: 1.2;
  font-size: 16px;
  min-height: 39px;

  span {
    pointer-events: auto;
  }
}

.rulesPreviews__arrows {
  position: absolute;
  bottom: 20px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  z-index: 4;
  pointer-events: auto;
}

.rulesPreviews__arrow {
  width: 30px;
  height: 15px;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;

  &--prev {
    transform: rotate(-180deg);
  }

  &.disabled {
    pointer-events: none;
    filter: grayscale(100%);
    opacity: 0.3;
  }
}
