.rules {
  margin-bottom: 25px;
  height: 100%;
}

.rules__pageTitle {
  margin-bottom: 85px;

  @include media(msp) {
    margin-bottom: 57px;
  }
}

.rules__slider {
  margin-bottom: 30px;
}

.rules__slide {
  min-height: 150px;

  @include media(msl) {
    margin-bottom: 58px;
  }
}

.rules__cnt {
  display: flex;

  @include media(msl) {
    display: block;
  }
}

.rules__header {
  width: 320px;
  margin-right: 25px;
  flex-shrink: 0;
  text-align: right;

  @include media(mtp) {
    width: 260px;
  }

  @include media(msl) {
    text-align: left;
  }
}

.rules__number {
  font-family: $font-sans;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $color-style;
  font-weight: 800;

  @include media(msl) {
    margin-bottom: 15px;
  }

  @include media(msp) {
    margin-bottom: 12px;
  }
}

.rules__title {
  font-size: 26px;
  line-height: 1.1;
  font-weight: 700;

  @include media(msl) {
    margin-bottom: 10px;
  }
}

.rules__main {
  margin-top: -0.4em;

  @include media(msl) {
    font-size: 14px;
    margin-top: 0;
  }

  @include media(msp) {
    font-size: 12px;
  }
}

.rules__previews {
  margin-left: -30px;
  margin-right: -30px;

  @include media(msl) {
    display: none;
  }
}

