.scrollRow {
  overflow: hidden;
  user-select: none;

  @include media(msl) {
    overflow-x: visible;
  }

  &.-dragged {
    * {
      pointer-events: none;
    }
  }
}

.scrollRow__inner {
  display: inline-flex;
  align-items: center;
  //margin-bottom: 50px;
  margin-bottom: 110px;
  transition-duration: 0.5s;
  will-change: transform;

  @include media(msl) {
    display: block;
    margin-bottom: 30px;
  }
}
