.searchTabs {
  @include list-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @include media(msp) {
    max-width: 340px;
    margin-right: auto;
    margin-left: auto;
  }
}

.searchTabs__item {
  margin-right: 18px;
  padding-right: 18px;
  border-right: 1px solid #ececec;
  margin-bottom: 10px;

  @include media(msp) {
    &:nth-child(1),
    &:nth-child(3) {
      border-right: none;
    }
  }

  &:last-child {
    padding-right: 0;
    border-right: none;
  }
}

.searchTabs__tab {
  display: block;
  appearance: none;
  border: none;
  background: none;
  box-shadow: none;
  color: #ccc;
  font-family: $font-sans;
  cursor: pointer;
  padding: 5px 0;
  outline: none;
  font-size: 14px;
  line-height: 1;
  border-bottom: 1px solid transparent;

  @include media(msp) {
    font-size: 12px;
  }

  &:hover {
    border-bottom-color: currentColor;
  }

  &--active {
    color: $color-style;
    border-bottom-color: $color-style;
  }

  &[disabled] {
    cursor: auto;

    &:hover {
      border-bottom-color: transparent;
    }
  }
}

.searchTabs__num {
  color: $color-style;
}
