.searchInterviewCard {
  display: flex;
  color: inherit;
  text-decoration: none;
}

.searchInterviewCard__image {
  width: 20%;
  flex-shrink: 0;
  margin-right: 30px;
  transition-duration: 0.4s;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #ccc;

  @include media(msl) {
    display: none;
  }

  &:hover {
    opacity: 0.7;
  }
}

.searchInterviewCard__main {
  margin-top: -6px;
}

.searchInterviewCard__title {
  color: $color-title;
  font-size: 28px;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 13px;

  @include media(msp) {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 5px;
  }

  &:hover {
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $color-style;
      transition-duration: 0.4s;
    }
  }
}

.searchInterviewCard__body {
  font-size: 14px;
  line-height: 1.5;
  padding-right: 10%;
  margin-bottom: 12px;

  @include media(msp) {
    font-size: 12px;
  }
}

.searchInterviewCard__authors {
  font-size: 16px;
  line-height: 1.5;
  color: $color-title;
  margin-bottom: 5px;

  @include media(msp) {
    font-size: 12px;
  }
}

.searchInterviewCard__readMore {
  font-family: $font-sans;
  font-size: 10px;
  line-height: 1.375;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  transition-duration: 0.4s;

  &:hover {
    text-decoration: underline;
  }
}
