.searchField {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  font-weight: 700;
  font-size: 24px;
  position: relative;

  padding-left: 60px;
  padding-right: 40px;

  @include media(mtp) {
    font-size: 18px;
  }

  @include media(msl) {
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
  }

  &--popup {
    padding-right: 100px;

    @include media(msl) {
      padding-right: 70px;
    }
  }

  &--page {
    margin-left: -30px;
    margin-right: -30px;
    overflow: hidden;

    @include media(msl) {
      margin-left: -10px;
      margin-right: -10px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
    background-image: url(../images/search.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.3;

    @include media(msl) {
      width: 14px;
      height: 14px;
      left: 5px;
    }
  }
}

.searchField__placeholder {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  color: #dcdcdc;
  pointer-events: none;
  line-height: 1.3;
}

.searchField__field {
  display: inline-block;
  position: relative;
  z-index: 1;
  border: none;
  background-color: transparent;
  box-shadow: none;
  //appearance: none;
  line-height: 1;
  padding: 18px 5px;
  outline: none;
  width: 100%;
  max-width: 100%;
  min-width: 10px;
  white-space: nowrap;

  @include media(msl) {
    padding: 13px 5px;
  }

  &:focus,
  &.-focused {
    color: $color-text;
    //background-color: #efefef;
  }

  &.-hasValue {
    width: auto;
    color: $color-text;
    text-align: left;
    overflow: hidden;

    & ~ .searchField__clean {
      display: block;
    }
    & ~ .searchField__placeholder {
      display: none;
    }
  }


}

.searchField__clean {
  display: inline-block;
  width: 18px;
  height: 18px;
  appearance: none;
  padding: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  position: relative;
  z-index: 1;
  display: none;
  background-image: url(../images/closer.svg);
  margin-left: 10px;
  margin-right: -28px;

  @include media(msl) {
    margin-left: 5px;
    margin-right: -24px;
  }
}


