.searchCard {
  display: flex;
  align-items: flex-start;
  color: inherit;
  text-decoration: none;

  //&--publication {
  //  .searchCard__author {
  //
  //  }
  //}

  &--event {
    .searchCard__date::after {
      content: none;
    }
  }
}

.searchCard__image {
  width: 24%;
  flex-shrink: 0;
  margin-right: 30px;
  transition-duration: 0.4s;
  background-color: #efefef;
  min-height: 140px;

  @include media(msl) {
    display: none;
  }

  &:hover {
    opacity: 0.7;
  }
}

.searchCard__main {}

.searchCard__info {
  display: flex;
  align-items: center;
  line-height: 1;
  margin-bottom: 5px;
  font-size: 10px;
  font-family: $font-sans;
  color: $color-style;
  letter-spacing: 0.05em;

  @include media(msp) {
    margin-bottom: 6px;
  }
}

.searchCard__date {
  font-weight: 800;

  &::after {
    content: '|';
    display: inline-block;
    margin-left: 0.3em;
    margin-right: 0.3em;
  }
}

.searchCard__source {
  font-weight: 800;
  margin-right: 10px;
  text-transform: uppercase;
}

.searchCard__tags {
  color: $color-border;
  text-transform: uppercase;
}

.searchCard__tag {
  margin-right: 0.2em;
  &::before {
    content: '#';
  }
}

.searchCard__title {
  color: $color-title;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 9px;
  font-size: 16px;
  transition-duration: 0.4s;

  @include media(msp) {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 5px;
  }

  &:hover {
    color: $color-style;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $color-style;
      transition-duration: 0.3s;
    }
  }
}

.searchCard__body {
  font-size: 14px;
  line-height: 1.5;
  padding-right: 10%;
  margin-bottom: 5px;

  @include media(msp) {
    font-size: 12px;
  }
}

.searchCard__footer {
  display: flex;
  align-items: baseline;
}

.searchCard__author {
  font-size: 14px;
  line-height: 1.5;

  @include media(msp) {
    font-size: 14px;
  }

  a {
    color: $color-title;
    text-decoration: none;
    border-bottom: 1px solid $color-style;

    &:hover {
      border-bottom-color: transparent;
    }
  }
}

.searchCard__readMore {
  font-family: $font-sans;
  font-size: 10px;
  line-height: 1.375;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: $color-style;
  text-decoration: none;
  font-weight: 800;
  margin-left: 20px;
  transition-duration: 0.4s;

  &:hover {
    text-decoration: underline;
  }
}
