.searchPopup {
  position: absolute;
  z-index: 3;
  top: 3px;
  left: -30px;
  right: -30px;
  background-color: $color-bg;

  transition-duration: 0.3s;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;

  @include media(msl) {
    left: -10px;
    right: -10px;
  }


  &.-opened {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: 100%;
    background-color: $color-bg;
  }


}

.searchPopup__closer {
  display: inline-block;
  width: 18px;
  height: 18px;
  appearance: none;
  padding: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  background-image: url(../images/closer@red.svg);
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);

  @include media(msl) {
    right: 10px;
  }
}

