.searchResults {
  margin-top: 34px;
  margin-bottom: 110px;
}

.searchResults__innet {}

.searchResults__tabs {
  margin-bottom: 70px;

  @include media(msl) {
    margin-bottom: 40px;
  }
}

.searchResults__list {
  @include list-reset;
  max-width: 874px;
  margin-right: auto;
  margin-left: auto;
  min-height: 260px;

  &--preloader {
    position: relative;

    &::after {
      content: '';
      display: block;
      margin-right: auto;
      margin-left: auto;
      font-size: 10px;
      width: 10em;
      height: 10em;
      background-image: url(../images/preloader.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      @include media(msl) {
        font-size: 5px;
      }
    }
  }
}

.searchResults__item {
  margin-bottom: 40px;

  @include media(msl) {
    margin-bottom: 50px;
  }

  &:last-child {
    //margin-bottom: 0;
    //margin-bottom: 60px;
  }

}

.searchResults__empty {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: #ccc;

  @include media(msl) {
    font-size: 20px;
  }

  @include media(msp) {
    font-size: 18px;
  }
}
