.searchLaureateCard {
  display: flex;
  color: inherit;
  text-decoration: none;
}

.searchLaureateCard__image {
  width: 20%;
  flex-shrink: 0;
  margin-right: 30px;
  transition-duration: 0.4s;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #ccc;

  @include media(msl) {
    display: none;
  }

  &:hover {
    opacity: 0.7;
  }
}

.searchLaureateCard__main {
  margin-top: -6px;
}

.searchLaureateCard__title {
  color: $color-title;
  font-size: 28px;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 11px;

  @include media(msp) {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 8px;
  }

  a {
    transition-duration: 0.4s;
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $color-style;
    }
  }

}

.searchLaureateCard__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  font-family: $font-sans;
  line-height: 1;
  color: $color-border;
  margin-bottom: 19px;

  @include media(msp) {
    display: block;
    font-size: 12px;
    margin-bottom: 12px;
  }
}

.searchLaureateCard__infoItem {
  margin-right: 22px;
  padding-right: 22px;
  border-right: 1px solid;

  @include media(msp) {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 5px;
  }

  &:last-child {
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 0;
    border-right: none;
  }
}

.searchLaureateCard__infoNum {
  color: $color-style;
  margin-left: 0.3em;
}

.searchLaureateCard__body {
  font-size: 14px;
  line-height: 1.5;
  padding-right: 10%;
  margin-bottom: 16px;

  @include media(msp) {
    font-size: 12px;
  }
}

.searchLaureateCard__readMore {
  font-family: $font-sans;
  font-size: 10px;
  line-height: 1.375;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  transition-duration: 0.4s;

  &:hover {
    text-decoration: underline;
  }
}
