.socialFooter {
  @include list-reset;

  display: flex;
  align-items: center;

  @include media(msl) {
    display: flex;
    justify-content: center;
  }
}

.socialFooter__item {
  margin-right: 17px;

  @include media(msl) {
    margin-right: 37px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.socialFooter__link {
  width: 16px;
  height: 16px;
  display: block;

  svg {
    display: block;
    width: 100%;
    max-height: 100%;
    fill: #000;
    transition-duration: 0.3s;
  }

  &:hover {
    svg {
      fill: $color-style;
    }
  }
}

