.timeline {
  @include list-reset;
}

.timeline__item {
  display: flex;
  justify-content: space-between;

  @include media(mtp) {
    display: block;
  }

  &:nth-child(n + 2) {
    margin-top: 38px;

    @include media(mtp) {
      margin-top: 50px;
    }
  }
}

.timeline__date {
  font-family: $font-sans;
  font-size: 17px;
  font-weight: 900;
  color: $color-style;
  line-height: 1.32;
  white-space: nowrap;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-right: 31px;
  flex-shrink: 0;

  @include media(mtp) {
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
  }
}

.timeline__text {}

.timeline__title {
  font-size: inherit;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.3em;
}

.timeline__body {}

