.userNav {
  width: 104px;
  font-family: $font-sans;
  position: relative;
  text-align: center;
  transition-duration: 0.2s;

  cursor: default;

  &:hover {
    z-index: 5;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.06);

    .userNav__name {
      border-color: $color-border;
      background-color: #fff;
      transition-delay: 0s;

      span::after {
        transform: rotate(-180deg);
      }
    }

    .userNav__links {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translateY(-1px);
      transition-delay: 0.2s;
    }
  }
}

.userNav__name {
  font-weight: 800;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 11.5px 15px;
  border: 1px solid transparent;
  letter-spacing: 0.1em;
  transition-duration: 0.2s;
  transition-delay: 0.2s;
  position: relative;
  z-index: 1;

  span {}

  &::after {
    content: '';
    position: absolute;
    top: 15px;
    right: 6px;
    margin-left: 9px;
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    background-image: url(../images/arrow-dd.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition-duration: 0.2s;
  }

}

.userNav__links {
  @include list-reset;
  position: absolute;
  left: 0;
  right: 0;
  max-width: 150px;
  border: 1px solid $color-border;
  background-color: #fff;
  font-size: 14px;
  line-height: 1;

  transition-duration: 0.2s;
  transition-delay: 0s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-20px);
}

.userNav__link {
  border-bottom: 1px solid $color-border;

  &:last-child {
    border-bottom: none;
  }

  a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 12px 15px;
    transition-duration: 0.2s;

    &:hover {
      color: $color-style;
    }
  }
}

