.footer {
  margin-top: auto;
  font-family: $font-sans;

  @include media(msl) {
    margin-top: 40px;
  }
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include media(msl) {
    flex-direction: column;
    align-items: stretch;
  }
}

.footer__contacts {

  @include media(msl) {
    padding-top: 40px;
    padding-bottom: 24px;
    order: 2;
  }
}

.footer__social {
  margin-bottom: 11px;
  position: relative;
  z-index: 3;

  @include media(msl) {
    margin-right: 0;
  }
}

.footer__mail {
  margin-right: 30px;
  text-decoration: none;
  color: inherit;
  line-height: 2;
  font-weight: 700;

  @include media(mtp) {
    font-size: 12px;
  }

  @include media(msl) {
    margin-right: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
  }

  &:hover {
    color: $color-style;
  }
}

.footer__developer {
  margin-left: auto;
  margin-right: -40px;
  color: #b5b5b5;
  font-size: 14px;

  @include media(mtp) {
    margin-right: 20px;
    font-size: 12px;
  }

  @include media(msl) {
    order: 3;
    border-top: 1px solid $color-border;
    margin-left: -10px;
    margin-right: -10px;
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
  }

  span {
    &::after {
      content: '';
      display: inline-block;
      height: 1px;
      width: 72px;
      background-color: currentColor;
      margin-left: 30px;
      margin-right: 30px;
      vertical-align: middle;

      @include media(mtp) {
        width: 10px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }

  a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    vertical-align: middle;
  }
}

.footer__button {
  margin-left: auto;
  font-family: $font-sans;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-align: center;
  border-top: 1px solid $color-border;
  border-left: 1px solid $color-border;
  margin-right: -31px;
  margin-bottom: -23px;
  padding: 2em 4.4em;
  background-color: $color-bg;

  @include media(msd-2) {
    font-size: 10px;
    padding: 2em 2.2em;
  }

  @include media(mtp) {
    padding: 1.8em 1.2em;
    margin-left: auto;
  }

  @include media(msl) {
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 0;
    border-left: none;
    border-bottom: 1px solid $color-border;
    order: 1;
    font-size: 12px;
    padding: 2em 1.2em;
  }
}
