.header  {
  margin-bottom: 60px;
  position: relative;

  @include media(mtp) {
    margin-bottom: 50px;
  }

  @include media(msp) {
    margin-bottom: 17px;
  }

}

.header__inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  @include media(mtl) {
    align-items: flex-start;
  }
}

.header__logo {
  align-self: flex-end;
  width: 150px;
  flex-shrink: 0;
  text-decoration: none;
  line-height: 1;
  margin-right: 35px;

  @include media(msd-2) {
    margin-right: 20px;
    margin-right: 45px;
  }

  @include media(mtl) {
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 0;
    align-self: auto;
  }

  @include media(msl) {
  }

}


.header__mobMenuButton {
  display: none;
  margin-right: auto;
  align-items: center;

  @include media(mtl) {
    display: flex;
  }

  @include media(mtp) {
    margin: 0 auto 0 0;
  }

  @include media(msl) {
    margin-right: 0;
  }
}

.header__menu {
  margin-left: auto;
  display: flex;
  align-items: flex-end;

  @include media(mtl) {
    display: none;
  }
}

.header__lang {
  margin-left: 46px;
  margin-right: 5px;
  margin-bottom: 3px;
  display: flex;
  align-items: flex-end;

  @include media(mtl) {
    display: none;
  }
}

.header__actions {
  @include media(mtl) {
    display: none;
  }
}

.header__burger {
  display: none;
  border: 1px solid $color-border;
  box-sizing: border-box;
  padding: 5px;
  background-image: url(../images/mob-menu.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  width: 30px;
  height: 30px;
  outline: none;

  @include media(mtl) {
    display: block;
  }

  @include media(msl) {
    width: 44px;
    height: 44px;
    background-size: 23px;
    margin-top: -11px;
    margin-right: -11px;
  }
}



