.page {
  overflow-x: hidden;
  padding: 30px;
  position: relative;

  @include media(msl) {
    padding: 10px;
    max-width: 100vw;
    box-sizing: border-box;
  }

  &::after {
    //content: '';
    display: block;
    position: absolute;
    z-index: 9999;
    top: -13px;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../images/design/interview-mob.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center 0;
    pointer-events: none;
    opacity: 0.3;
  }

  &--front {
    .page__layout {
      min-height: calc(100vh - 60px);
      //height: calc(100vh - 60px);
      //min-height: 890px;

      @include media(mtl) {
        //min-height: 850px;
      }

      @include media(msl) {
        //height: auto;
        //min-height: 950px;
      }
    }
  }

  &--footerLine {
    .page__main {
      position: relative;
      margin-bottom: 25px;

      &::after {
        content: '';
        position: absolute;
        left: -30px;
        right: -30px;
        bottom: 0;
        height: 1px;
        background-color: #ccc;

        @include media(msl) {
          content: none;
        }
      }
    }
  }

  &--error {
    .header__menu,
    .header__lang,
    .header__actions,
    .header__burger,
    .footer {
      display: none;
    }

    .header {
      position: absolute;
      top: 30px;

      @include media(msl) {
        top: 10px;
      }
    }

    .page__layout {
      padding-top: 100px;
      padding-bottom: 150px;
      min-height: calc(100vh - 60px);

      @include media(msl) {
        min-height: calc(100vh - 20px);
      }
    }

    .page__main {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

.page__layout {
  max-width: 1920px;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  border: 1px solid $color-border;
  padding: 22px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  @include media(msd-2) {
    width: 100%;
  }

  @include media(msl) {
    height: auto;
    min-height: 950px;
    padding: 10px;
  }

}

.page__main {
  margin-bottom: auto;
  flex-grow: 1;
}
