// footer.pug
+b('footer', '', 'footer')
  +e('inner')
    +e('contacts')
      +e('social')
        include ../components/social-footer
      +e('mail', '', 'a')(href="#0") info@redkollegia.org
    +e('developer')
      span Дизайн и разработка
      a(href="#0") insaim
    +b('button', { e: '&' }, 'a')(href="#0" data-modal=".modal--propose")
      span Предложить кандидата
