+b('header', '', 'header')
  +e('inner')
    +e('logo', '', 'a')(href="#0"): img(src="./files/logo.svg" alt="Логотип Премия Редколлегия")
    +e('menu')
      - login = false
      include ../components/menu
    +e('lang')
      include ../components/lang
    +e('actions')
      - login = true;
      include ../components/header-actions
    +e('burger', '', 'button')
      span.visually-hidden Меню
    include ../components/search/search-popup

