doctype html


include ../../../node_modules/bempug/index
include ./mixins

-
  var body_classes = ['front'];
  var css = [
  './css/styles.css?' + Math.floor(Math.random() * 1000)
  ];
  var js = [
    './js/main.js?' + Math.floor(Math.random() * 1000)
  ];

block vars


html

  head
    title Редколлегия
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    for i in css
      link(rel="stylesheet" href=i)





  +b('page', {}, 'body')(class=body_classes)
    +e('layout')

      include header

      +e('main', {}, 'main')
        block content

      include footer
      //include ../components/applicants-preview
      include ../components/mob-menu
      include ../components/modals/modal-propose
      include ../components/modals/modal--login
      include ../components/modals/modal--success


    for i in js
      script(type="text/javascript" src=i)
