mixin timeline(data)
  // mixin timeline
  +b('timeline', '', 'ul')
    for i in data
      +e('item')
        +e('date', '', 'time')(datetime="2019-01-01") !{i.date}
        +e('text', '', 'div')
          +e('title', '', 'h3') !{i.title}
          +e('body') !{i.body}

mixin interview-cards(data)
  // mixin interview-cards
  +b('interviewCards', '', 'ul')
    for i in data
      +e('item')
        +e('inner', '', 'article')
          +e('date', '', 'time')(datetime="2019-01-01") !{i.date}
          +e('title', '', 'h3') !{i.title}
          +e('link')(href="#0") Читать интервью
